<footer class="bi-footer">
  <div class="bi-container">
    <div class="bi-footer__wrap">
      <a href="#" class="bi-footer__logo">
        <img src="img/footer-logo.svg" alt="logo">
      </a>

      <div class="bi-footer__col">
        <h4>à propos</h4>

        <ul class="bi-footer__menu">
          <li><a href="#">On parle de nous</a></li>
          <li><a href="#">Nos partenaires</a></li>
          <li><a href="#">Nos Halles</a></li>
          <li><a href="#">Horaires</a></li>
          <li><a href="#">Infos COVID</a></li>
        </ul>
      </div>

      <div class="bi-footer__col">
        <h4>Recrutement</h4>

        <ul class="bi-footer__menu">
          <li><a href="#">Jobs</a></li>
        </ul>
      </div>

      <div class="bi-footer__col">
        <h4>on papote ?</h4>

        <ul class="bi-footer__menu">
          <li><a href="#">Nous écrire</a></li>
          <li><a href="#">Nous appeler</a></li>
        </ul>
      </div>

      <div class="bi-footer__col">
        <h4>RETROUVEZ-nous</h4>

        <ul class="bi-footer__menu-soc">
          <li><a href="#">
            <img src="img/instagram.svg" alt="">
          </a></li>
          <li><a href="#">
            <img src="img/youtube.svg" alt="">
          </a></li>
          <li><a href="#">
            <img src="img/facebook.svg" alt="">
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bi-footer__line">
    <div class="bi-container">
      <div class="bi-footer__line-wrap">
        <p>© 2021 Biltoki, tous droits reservés</p>
        <a href="#">Mentions légales</a>
      </div>
    </div>
  </div>
</footer>