<header class="bi-header">
  <div class="bi-container">
    <a href="index.html" class="bi-header__logo-min">
      <img src="img/footer-logo.svg" alt="">
    </a>

    <div class="bi-header__burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="bi-header__wrap">
      <ul class="bi-header__menu">
        <li><a href="#">QUI SOMMES-NOUS ?</a></li>
        <li><a href="#">nos halles</a></li>
        <li><a href="#">nos prestations</a></li>
      </ul>

      <a href="index.html" class="bi-header__logo">
        <img src="img/footer-logo.svg" alt="">
      </a>

      <div class="bi-header__right">
        <a href="#" class="bi-header__link">actualités</a>

        <a href="#" class="bi-btn bi-btn-black">rejoignez l’aventure</a>

        <div class="bi-header__select">
          <select class="select2" style="width: 100%">
            <option>fr</option>
            <option>en</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</header>