<div class="bi-letter">
  <div class="bi-container">
    <div class="bi-letter__wrap">
      <div class="bi-letter__col">
        <h5>La Newsletter Biltoki</h5>

        <form>
          <div class="bi-letter__form">
            <div class="bi-form-group bi-form-brown">
              <input type="email" placeholder="Votre adresse mail" name="">
            </div>

            <input type="submit" class="icon-arrow" value="">
          </div>
        </form>
      </div>

      <div class="bi-letter__col">
        <h5>La gazette de vos halles préférées</h5>

        <form>
          <div class="bi-form-download">
            <div class="bi-form-select">
              <select class="select2" style="width: 100%" data-placeholder="Choisir une ville dans la liste">
                <option></option>
                <option>Choisir 1</option>
                <option>Choisir 2</option>
              </select>
            </div>

            <input type="submit" class="bi-btn-download" value="">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>