<div class="bi-soc">
  <div class="bi-container">
    <div class="bi-soc__wrap">
      <div class="bi-soc__col">
        <div class="bi-soc__icon">
          <img src="img/youtube.svg" alt="">
        </div>
        <h5><a href="#">Retrouvez nos vidéos sur Youtube</a></h5>

        <div class="bi-soc__youtube">
          <a href="#" class="bi-soc__youtube-post">
            <img src="img/y-post1.jpg" alt="">
            <div class="bi-post-item__video-play"></div>
          </a>
          <a href="#" class="bi-soc__youtube-post">
            <img src="img/y-post2.jpg" alt="">
            <div class="bi-post-item__video-play"></div>
          </a>
        </div>
      </div>

      <div class="bi-soc__col">
        <div class="bi-soc__icon">
          <img src="img/instagram.svg" alt="">
        </div>
        <h5><a href="#">Retrouvez nos publications Instragram</a></h5>

        <div class="bi-soc__insta">
          <a href="#" class="bi-soc__insta-post">
            <img src="img/i-post1.jpg" alt="">
          </a>
          <a href="#" class="bi-soc__insta-post">
            <img src="img/i-post2.jpg" alt="">
          </a>
          <a href="#" class="bi-soc__insta-post">
            <img src="img/i-post3.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>