<div class="bi-trust">
  <h4>Ils nous font confiance</h4>

  <div class="swiper-container bi-trust__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos1.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos2.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos3.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos4.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos1.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos2.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos3.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos4.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos1.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos2.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos3.svg" alt="">
        </div>
      </div>

      <div class="swiper-slide">
        <div class="bi-trust__logo">
          <img src="img/logos4.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>