.bi-about-banner {
  padding: 150px 0 130px;
  background-color: $light-blue-color;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 576px) {
    padding: 95px 0;
  }

  &__icon {
    position: absolute;

    img {
      width: 100%;
    }

    &.icon1 {
      width: 118px;
      top: 135px;
      right: calc(50% + 350px);
      @media screen and (max-width: 1200px) {
        width: 105px;
      }
      @media screen and (max-width: 992px) {
        width: 100px;
        right: calc(50% + 300px);
      }
      @media screen and (max-width: 768px) {
        width: 70px;
        right: auto;
        left: 40px;
      }
      @media screen and (max-width: 576px) {
        width: 51px;
        left: 14px;
        top: 100px;
      }
    }

    &.icon2 {
      width: 126px;
      top: 150px;
      left: calc(50% + 350px);
      @media screen and (max-width: 1200px) {
        width: 115px;
      }
      @media screen and (max-width: 992px) {
        width: 105px;
        left: calc(50% + 280px);
      }
      @media screen and (max-width: 768px) {
        width: 70px;
        right: 38px;
        left: auto;
      }
      @media screen and (max-width: 576px) {
        width: 54px;
        top: 94px;
      }
    }

    &.icon3 {
      width: 158px;
      top: 316px;
      right: calc(50% + 300px);
      @media screen and (max-width: 1200px) {
        width: 140px;
      }
      @media screen and (max-width: 992px) {
        width: 120px;
        right: calc(50% + 250px);
      }
      @media screen and (max-width: 768px) {
        width: 80px;
        right: auto;
        left: 40px;
      }
      @media screen and (max-width: 576px) {
        width: 69px;
        left: 20px;
        top: 231px;
      }
    }

    &.icon4 {
      width: 207px;
      top: 335px;
      left: calc(50% + 425px);

      @media screen and (max-width: 1200px) {
        width: 180px;
        left: calc(50% + 350px);
      }
      @media screen and (max-width: 992px) {
        width: 150px;
        left: calc(50% + 320px);
      }
      @media screen and (max-width: 768px) {
        width: 120px;
        right: -5px;
        left: auto;
        top: 290px;
      }
      @media screen and (max-width: 576px) {
        width: 90px;
        top: 210px;
      }
    }

    &.icon5 {
      width: 160px;
      top: 570px;
      right: calc(50% + 540px);

      @media screen and (max-width: 1200px) {
        width: 120px;
        right: calc(50% + 420px);
      }
      @media screen and (max-width: 992px) {
        width: 80px;
        right: calc(50% + 350px);
      }
      @media screen and (max-width: 768px) {
        width: 60px;
        right: auto;
        left: 0;
      }
      @media screen and (max-width: 576px) {
        display: none;
      }
    }

    &.icon6 {
      width: 243px;
      bottom: 84px;
      right: calc(50% + 510px);

      @media screen and (max-width: 1200px) {
        width: 180px;
        right: calc(50% + 420px);
      }
      @media screen and (max-width: 992px) {
        width: 140px;
        right: calc(50% + 350px);
      }
      @media screen and (max-width: 768px) {
        width: 110px;
        right: auto;
        left: -30px;
      }
      @media screen and (max-width: 576px) {
        bottom: 43px;
        width: 86px;
      }
    }

    &.icon7 {
      width: 212px;
      bottom: 255px;
      left: calc(50% + 480px);

      @media screen and (max-width: 1200px) {
        width: 180px;
        left: calc(50% + 420px);
      }
      @media screen and (max-width: 992px) {
        width: 160px;
        left: calc(50% + 380px);
      }
      @media screen and (max-width: 768px) {
        width: 120px;
        left: auto;
        right: -50px;
      }
      @media screen and (max-width: 576px) {
        width: 94px;
        bottom: 190px;
      }
    }
  }

  &__title {
    height: 330px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    @media screen and (max-width: 768px) {
      height: 240px;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 576px) {
      height: 151px;
      margin-bottom: 60px;
    }

    &:after {
      @include before;
      @include full;
      @include bs-contain;
      @include p-absolute;
      background-image: url("../img/white-star.svg");
      z-index: 1;
    }

    h3 {
      @extend %h3;
      margin-bottom: 0;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 15px;
        margin-bottom: -10px;
      }
    }

    h1 {
      font-size: 140px;
      line-height: 90px;
      margin-bottom: 0;
      font-weight: bold;
      transform: rotate(-4deg);
      letter-spacing: -5px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 1200px) {
        font-size: 120px;
      }
      @media screen and (max-width: 992px) {
        font-size: 100px;
        letter-spacing: -3px;
      }
      @media screen and (max-width: 768px) {
        font-size: 80px;
        letter-spacing: -2px;
      }
      @media screen and (max-width: 576px) {
        font-size: 54px;
        line-height: 72px;
      }
    }
  }

  &__video {
    margin: 0 auto;
    position: relative;

    h2 {
      text-align: center;
      @extend %h1;
      margin-bottom: -45px;
      @media screen and (max-width: 1200px) {
        margin-bottom: -35px;
      }
      @media screen and (max-width: 992px) {
        margin-bottom: -25px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: -15px;
      }
      @media screen and (max-width: 576px) {
        margin-bottom: -10px;
      }
    }

    .bi-article__video-play {
      z-index: 2;
    }

    &-wrap {
      width: 100%;
      max-width: 818px;
      position: relative;
      padding-bottom: calc(818px * 0.566);
      overflow: hidden;
      margin: 0 auto;

      @media screen and (max-width: 992px) {
        max-width: 700px;
        padding-bottom: calc(700px * 0.566);
      }

      @media screen and (max-width: 768px) {
        max-width: 500px;
        padding-bottom: calc(500px * 0.566);
      }

      @media screen and (max-width: 576px) {
        max-width: calc(100% - 40px);
        padding-bottom: 56.6%;
      }

      img {
        @include p-absolute;
        @include full-img;
      }
    }

    &-icon {
      position: absolute;
      width: 83px;
      transform: rotate(-90deg);
      left: calc(50% + 390px);
      bottom: -65px;
      @media screen and (max-width: 992px) {
        left: calc(50% + 330px);
      }
      @media screen and (max-width: 768px) {
        left: calc(50% + 230px);
        width: 50px;
        bottom: -40px;
      }
      @media screen and (max-width: 576px) {
        left: auto;
        right: -5px;
        width: 38px;
        bottom: -30px;
      }

      img {
        width: 100%;
      }
    }
  }
}

.bi-about {
  position: relative;
  $f: &;

  &__menu-wrap {
    position: absolute;
    height: 100%;
    top: 0;
    left: 60px;
    z-index: 5;
    @media screen and (max-width: 1300px) {
      left: 30px;
    }
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__menu {
    @include ul;
    position: sticky;
    top: 200px;
    bottom: 0;
    margin: auto;

    li {
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li a {
      @extend %h4;
      text-decoration: none;
      color: $black-color;
      transition: all 0.25s;
      opacity: 0.15;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }

      &.active {
        opacity: 1;
      }
    }
  }

  &__nav {
    @include p-absolute;
    right: 0;
    margin: 30px auto 0;
    display: none;
    width: 100%;
    @media screen and (max-width: 1200px) {
      display: block;
    }

    .swiper-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: max-content;
      margin: 0 auto;
      padding: 0 10px;
    }

    .swiper-slide {
      width: auto;
      font-size: 22px;
      text-decoration: none;
      color: $black-color;
      opacity: 0.15;

      &:hover {
        text-decoration: none;
      }

      &.swiper-slide-active {
        opacity: 1;
      }
    }
  }

  &__block {
    height: auto;
    min-height: 100vh;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @media screen and (max-width: 768px) {
      min-height: auto;
      padding: 108px 0 85px;
    }
  }

  &__icon {
    position: absolute;
    z-index: 3;

    img {
      width: 100%;
    }

    &.icon1 {
      width: 142px;
      right: 130px;
      bottom: -70px;
      @media screen and (max-width: 768px) {
        width: 76px;
        right: 20px;
        bottom: -50px;
      }
    }

    &.icon2 {
      width: 169px;
      top: -140px;
      left: 0;

      @media screen and (max-width: 768px) {
        width: 80px;
        position: relative;
        top: 0;
        margin-bottom: 30px;
        margin-left: -10px;
      }
    }

    &.icon3 {
      width: 200px;
      right: 0;
      left: 0;
      top: auto;
      bottom: -70px;
      margin: auto;
      @media screen and (max-width: 768px) {
        width: 113px;
        bottom: -50px;
      }
    }

    &.icon4 {
      width: 104px;
      right: 116px;
      bottom: 50px;

      @media screen and (max-width: 768px) {
        width: 40px;
        bottom: 30px;
        right: 20px;
      }
    }

    &.icon5 {
      width: 140px;
      right: 0;
      left: 0;
      top: -90px;
      margin: auto;

      @media screen and (max-width: 768px) {
        width: 52px;
        top: -40px;
      }
    }

    &.icon6 {
      width: 111px;
      left: 0;
      top: -110px;
      margin: auto;
      @media screen and (max-width: 768px) {
        position: relative;
        width: 60px;
        top: 0;
        margin-bottom: 20px;
        right: auto;
        margin-left: -5px;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 0 0 auto;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &.row-left {
      flex-direction: row-reverse;
      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }

      #{$f}__row-text {
        @media screen and (max-width: 1200px) {
          padding: 0 40px 0 0;
        }
        @media screen and (max-width: 992px) {
          padding: 0 25px 0 0;
        }

        @media screen and (max-width: 768px) {
          padding: 0;
        }
      }

      #{$f}__row-image {
        @media screen and (max-width: 768px) {
          margin: 40px 0 0;
        }
      }
    }

    &-image {
      width: 50%;
      flex-shrink: 0;
      position: relative;

      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
        margin-bottom: 37px;
      }

      img {
        width: 100%;
        transform: rotate(-3deg);
      }
    }

    &-text {
      width: 50%;
      flex-shrink: 0;
      padding: 0 60px;
      position: relative;
      @media screen and (max-width: 1200px) {
        padding: 0 0 0 40px;
      }
      @media screen and (max-width: 992px) {
        padding: 0 0 0 25px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
      }

      h3 {
        @extend %h3;
        margin-bottom: 28px;
      }

      p {
        @extend %text1;
        margin-bottom: 0;
      }
    }
  }
}

.bi-person {
  background-color: $white-color;
  padding: 107px 0;
  @media screen and (max-width: 768px) {
    padding: 54px 0 70px;
  }

  $f: &;

  h2 {
    @extend %h1;
    text-align: center;
    margin-bottom: 0;
  }

  &__wrap {
    position: relative;
    padding-bottom: 88px;
    margin-top: -50px;
    @media screen and (max-width: 1200px) {
      margin-top: -32px;
    }
    @media screen and (max-width: 992px) {
      margin-top: -25px;
    }
    @media screen and (max-width: 768px) {
      margin-top: -17px;
      padding-bottom: 58px;
    }
    @media screen and (max-width: 576px) {
      margin-top: -10px;
    }
  }

  .swiper-slide {
    width: auto;

    &:nth-child(2n) {
      #{$f}__item-content {
        background-color: $yellow-color !important;
      }
    }

    &:nth-child(3n) {
      #{$f}__item-content {
        background-color: $light-blue-color !important;
      }
    }

    &:nth-child(4n) {
      #{$f}__item-content {
        background-color: $pink-color !important;
      }
    }

    &:nth-child(5n) {
      #{$f}__item-content {
        background-color: $dark-green-color !important;
      }
    }
  }

  &__item {
    width: 288px;
    @media screen and (max-width: 768px) {
      width: 251px;
    }

    &-photo {
      position: relative;
      overflow: hidden;
      padding-bottom: 63.2%;

      img {
        @include p-absolute;
        @include full-img;
      }
    }

    &-content {
      padding: 20px 28px 25px;
      height: 182px;
      background-color: $light-beige-color;
      @media screen and (max-width: 768px) {
        padding: 20px 15px 25px;
      }

      h4 {
        @extend %h5;
        margin-bottom: 6px;
      }

      h5 {
        @extend %subtitle4;
        margin-bottom: 18px;
      }

      p {
        @extend %text2;
        margin-bottom: 20px;
      }

      .bi-footer__menu-soc {
        li {
          margin-right: 22px;
        }

        a {
          height: 16px;
        }
      }
    }
  }

  &-pagination {
    height: 4px;
    width: calc(100% - 40px);
    max-width: 818px;
    top: auto;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #C3D2F2;

    .swiper-pagination-progressbar-fill {
      background-color: $black-color;
      height: 3.5px;
      @media screen and (max-width: 576px) {
        height: 4px;
      }
    }

    .swiper-scrollbar-drag {
      background-color: $black-color;
      height: 4px;

      &:after {
        @include before;
        height: 29px;
        width: 29px !important;
        position: absolute;
        right: -5px;
        top: -11px;
        background-size: cover;
        background-image: url("../img/progress.svg");
        cursor: pointer;
        transform: none !important;
      }
    }
  }

  &-scrollbar {
    //background-color: $black-color;
  }
}