.bi-adventure-banner {
  background-color: $light-beige-color;
  padding: 143px 0 111px;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 110px 0 84px;
  }

  h3 {
    @extend %h3;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 201px;
    margin: auto;
    @media screen and (max-width: 768px) {
      top: 35%
    }
    @media screen and (max-width: 576px) {
      font-size: 15px;
      top: 40%;
    }
  }

  img {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;

    @media screen and (max-width: 768px) {
      max-width: 72%;
    }
  }
}

.bi-adventure-content {
  position: relative;
  padding: 115px 0 130px;
  @media screen and (max-width: 768px) {
    padding: 0;
  }

  &:after, &:before {
    @include before;
    width: 50%;
    height: 100%;
    @include p-absolute;
    z-index: -1;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &:before {
    background-color: $white-color;
  }

  &:after {
    left: auto;
    right: 0;
    background-color: $dark-green-color;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__col {
    width: 50%;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:after {
      @include before;
      @include p-absolute;
      width: 100vw;
      height: 100%;
      left: calc((100% - 100vw) / 2);
      display: none;
      z-index: -1;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    &:first-child {
      padding-right: 95px;
      padding-left: 30px;
      @media screen and (max-width: 1200px) {
        padding: 0 15px;
      }
      @media screen and (max-width: 768px) {
        padding: 70px 0;
        background-color: $white-color;
      }

      &:after {
        @media screen and (max-width: 768px) {
          background-color: $white-color;
        }
      }
    }

    &:last-child {
      padding-left: 95px;
      padding-right: 30px;
      color: $white-color;
      @media screen and (max-width: 1200px) {
        padding: 0 15px;
      }
      @media screen and (max-width: 768px) {
        padding: 70px 0;
        background-color: $dark-green-color;
      }

      &:after {
        @media screen and (max-width: 768px) {
          background-color: $dark-green-color;
        }
      }
    }

    h3 {
      @extend %h3;
      margin: 0 auto 23px;
      max-width: 390px;
      @media screen and (max-width: 768px) {
        margin: 0 auto 26px;
      }
    }

    p {
      @extend %text1;
      margin-bottom: 48px;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }

  &__icon {
    height: 97px;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      margin-bottom: 32px;
    }

    img {
      max-height: 100%;
    }
  }
}

.bi-adventure-slider {
  padding: 112px 0;
  background-color: $light-beige-color;
  position: relative;

  @media screen and (max-width: 768px) {
    padding: 60px 0;
  }

  $f: &;

  &__logo {
    @include p-absolute;
    right: 0;
    top: -75px;
    margin: auto;
    width: 138px;
    @media screen and (max-width: 992px) {
      width: 98px;
      top: -50px;
    }
    img {
      width: 100%;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &.icon1 {
      width: 90px;
      bottom: 150px;
      right: 0;
      @media screen and (max-width: 1200px) {
        overflow: hidden;
      }
    }
    &.icon2 {
      width: 170px;
      top: 240px;
      right: 15%;
    }
    &.icon3 {
      width: 92px;
      bottom: 190px;
      left: 7%;
    }

    img {
      width: 100%;
    }
  }

  h3 {
    @extend %h3;
    text-align: center;
    margin-bottom: 0;
  }

  &__wrap {
    position: relative;
    padding-bottom: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: -200px !important;
    @media screen and (min-width: 576px) {
      width: auto !important;
    }
    @media screen and (max-width: 576px) {
      margin-right: 0 !important;
    }

    &-image {
      width: 323px;
      flex-shrink: 0;
      height: auto;
      position: relative;
      z-index: 1;
      @media screen and (max-width: 992px) {
        width: 280px;
      }

      @media screen and (max-width: 576px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }

    &-content {
      width: 494px;
      height: 482px;
      text-align: center;
      padding: 110px 94px;
      @include bs-contain;
      z-index: 2;

      @media screen and (max-width: 576px) {
        padding: 100px 30px;
        background-size: 494px !important;
      }
    }

    &-quote {
      width: 38px;
      height: 29px;
      margin: 0 auto 32px;
      @include bs-contain;
      background-image: url("../img/adv-quote.svg");
    }

    p {
      @extend %text1;
      margin-bottom: 32px;
      @media screen and (max-width: 576px) {
        max-width: 330px;
        margin-right: auto;
        margin-left: auto;
      }
    }

    h6 {
      @extend %text1;
      font-weight: bold;
      @media screen and (max-width: 576px) {
        max-width: 330px;
        margin-right: auto;
        margin-left: auto;
      }

      span {
        display: block;
        font-weight: 400;
      }
    }
  }

  &__top {
    padding-top: 130px;
    @media screen and (max-width: 576px) {
      padding-top: 0;
    }

    #{$f}__item-content {
      margin-top: -130px;
      margin-left: -110px;
      background-image: url("../img/adv-top.svg");
      @media screen and (max-width: 576px) {
        margin: 0;
        background-size: cover;
      }
    }
  }

  &__bottom {
    margin-top: 307px;
    padding-bottom: 95px;
    @media screen and (max-width: 576px) {
      margin: 0;
      padding: 0;
    }

    #{$f}__item-content {
      margin-bottom: -95px;
      margin-left: -110px;
      background-image: url("../img/adv-bottom.svg");
      @media screen and (max-width: 576px) {
        margin: 0;
        background-size: cover;
      }
    }
  }

  &-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
      @include bs-contain;
      opacity: 1;
      background-image: url("../img/pagination-brown.svg");
      margin-right: 28px;
      background-color: transparent;

      @media screen and (max-width: 576px) {
        height: 10px;
        width: 10px;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: url("../img/pagination-black.svg");
    }
  }
}