.bi-spotlight {
  background-color: $light-beige-color;
  padding-bottom: 88px;
  @media screen and (max-width: 768px) {
    padding-bottom: 65px;
  }

  .bi-container {
    padding: 0 20px;
  }

  h2 {
    @extend %h1;
    text-align: center;
    margin-bottom: 0;
  }

  &__list {
    position: absolute;
    width: 200px;
    right: 0;
    bottom: -45px;
    @media screen and (max-width: 768px) {
      width: 150px;
      right: -80px;
      bottom: -30px;
    }

    img {
      width: 100%;
    }
  }

  &__wrap {
    margin: -48px auto 0;
    width: 100%;
    max-width: 1076px;
    padding-bottom: 58px;
    position: relative;
    @media screen and (max-width: 1200px) {
      margin: -33px auto 0;
    }
    @media screen and (max-width: 992px) {
      margin: -23px auto 0;
    }
    @media screen and (max-width: 768px) {
      margin: -16px auto 0;
      padding-bottom: 43px;
    }
    @media screen and (max-width: 576px) {
      margin: -10px auto 0;
    }

    &:after, &:before {
      @include before;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 90px;
      height: 90px;
      @include bs-contain;
      margin: auto;
      @media screen and (max-width: 992px) {
        width: 43px;
        height: 47px;
      }
    }

    &:before {
      left: 0;
      background-image: url("../img/s-prev.svg");
      @media screen and (max-width: 992px) {
        left: -43px;
      }
    }

    &:after {
      right: 0;
      background-image: url("../img/s-next.svg");
      @media screen and (max-width: 992px) {
        right: -43px;
      }
    }
  }

  &__slide {
    width: 100%;
    max-width: 818px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__image {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    @media screen and (max-width: 576px) {
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      @include p-absolute;
      @include full-img;
    }
  }

  &__text {
    width: 50%;
    flex-shrink: 0;
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 50px 45px;
    @media screen and (max-width: 768px) {
      padding: 20px 14px 30px 20px;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
    }

    time {
      @extend %text2;
      font-weight: bold;
      margin-bottom: 16px;
    }

    h4 {
      @extend %h4;
      font-weight: bold;
      margin-bottom: 16px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    p {
      @extend %text1;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      margin-bottom: 20px;
    }

    .bi-btn {
      height: 40px;
      width: 127px;
      margin: 0 auto 0 0;
      padding: 0;
      text-align: center;
      line-height: 40px;
    }
  }

  &__type {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 7px 16px;
    @extend %subtitle4;
    z-index: 2;
    @include bs-contain;
    background-image: url("../img/white-type.svg");
  }

  &-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
      @include bs-contain;
      opacity: 1;
      background-image: url("../img/pagination-black.svg");
      margin-right: 28px;
      background-color: transparent;
      @media screen and (max-width: 768px) {
        height: 10px;
        width: 10px;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: url("../img/pagination-active.svg");
    }
  }
}

.bi-article {
  padding-top: 143px;
  padding-bottom: 100px;
  background-color: $light-beige-color;
  background: linear-gradient(180deg, rgba(255, 255, 250, 1) 360px, #F9F7EC 360px);
  position: relative;

  $f: &;

  h1 {
    @extend %h2;
    text-align: center;
    margin-bottom: 3px;
    @media screen and (max-width: 576px) {
      font-size: 45px;
      margin-bottom: 30px;
    }
  }

  &__stick {
    position: fixed;
    bottom: 60px;
    left: 40px;
    &.fix {
      position: absolute;
      bottom: 60px;
      left: 40px;
    }

    @media screen and (max-width: 1200px) {
      display: none;
    }

    #{$f}__soc {
      display: block;
      margin-bottom: 30px;
      margin-left: 20px;
    }

    #{$f}__back {
      display: flex;
    }
  }

  &__back {
    display: none;
    align-items: center;
    @extend %text3;
    color: $black-color;
    text-decoration: none;
    @media screen and (max-width: 1200px) {
      position: relative;
      left: 0;
      margin-bottom: 20px;
      bottom: 0;
      display: flex;
    }

    &:hover {
      color: $black-color;
    }

    &:before {
      @include before;
      width: 8px;
      height: 14px;
      margin-right: 11px;
      @include bs-contain;
      background-image: url("../img/r-arrow-prev.svg");
    }
  }

  &__soc {
    display: none;
    text-align: center;
    width: max-content;
    @media screen and (max-width: 1200px) {
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      margin: - 60px auto 60px;
    }

    p {
      @extend %subtitle2;
      margin-bottom: 20px;
      @media screen and (max-width: 1200px) {
        margin: 0 20px 0 0;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    @media screen and (max-width: 576px) {
      margin-bottom: 35px;
    }

    p {
      @extend %text1;
      margin-bottom: 0;
      margin-right: 15px;
      position: relative;

      &:after {
        content: '•';
        display: block;
        position: absolute;
        top: 0;
        right: -15px;
      }
    }

    time {
      @extend %text1;
      margin-left: 15px;
    }
  }

  &__wrap {
    width: 100%;
    max-width: 606px;
    margin: 0 auto;

    h3 {
      @extend %h3;
      margin: 50px 0 30px;
    }

    h5 {
      @extend %subtitle2;
      font-weight: 800;
      margin: 10px 0 20px;
    }

    h6 {
      @extend %h5;
      font-weight: 500;
      font-style: italic;
      margin-bottom: 23px;
    }

    p {
      @extend %text1;
      margin-bottom: 23px;
    }

    blockquote {
      margin: 40px auto 70px;
      width: 100%;
      max-width: 525px;
      text-align: center;
      display: block;
      @extend %h5;
      font-style: italic;
      font-weight: 500;
      padding: 70px 0;
      position: relative;
      @media screen and (max-width: 768px) {
        margin: 50px 0;
      }

      &:after, &:before {
        @include before;
        @include p-absolute;
        right: 0;
        margin: auto;
        width: 55px;
        height: 43px;
        @include bs-contain;
      }

      &:before {
        background-image: url("../img/blockquote-before.svg");
      }

      &:after {
        top: auto;
        bottom: 0;
        background-image: url("../img/blockquote-after.svg");
      }
    }

    img {
      max-width: 100%;
      margin: 30px auto;
      transform: rotate(-3deg);
    }
  }

  &__video {
    width: 100%;
    max-width: 818px;
    position: relative;
    margin: 0 auto 84px;

    &-wrap {
      position: relative;
      padding-bottom: 51%;
      overflow: hidden;
    }

    &-play {
      @include p-absolute;
      @include center;
      width: 70px;
      height: 72px;
      cursor: pointer;
      @include bs-contain;
      background-image: url("../img/video-play.svg");
      transition: all 0.25s;

      &:hover {
        transform: scale(1.05);
      }
    }

    img {
      @include p-absolute;
      @include full-img;
    }
  }
}