.bi-community-banner {
  background-color: $dark-green-color;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 120px 0 130px;
  @media screen and (max-width: 768px) {
    padding: 120px 0 85px;
    height: 600px;
  }
  @media screen and (max-width: 576px) {
    height: 405px;
  }

  &__wrap {
    text-align: center;
    color: $white-color;
    z-index: 2;
    position: relative;
    margin-bottom: 60px;

    h3 {
      @extend %h3;
      margin-bottom: 0;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 15px;
        margin-bottom: -10px;
      }
    }

    h1 {
      font-size: 140px;
      line-height: 90px;
      margin-bottom: 0;
      font-weight: bold;
      transform: rotate(-4deg);
      letter-spacing: -5px;
      @media screen and (max-width: 1200px) {
        font-size: 120px;
      }
      @media screen and (max-width: 992px) {
        font-size: 100px;
        letter-spacing: -3px;
      }
      @media screen and (max-width: 768px) {
        font-size: 80px;
        letter-spacing: -2px;
      }
      @media screen and (max-width: 576px) {
        font-size: 54px;
        line-height: 72px;
      }
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;

    img {
      width: 100%;
    }

    &.icon1 {
      top: 170px;
      right: calc(50% + 400px);
      width: 96px;
      @media screen and (max-width: 1200px) {
        right: calc(50% + 310px);
      }
      @media screen and (max-width: 992px) {
        right: calc(50% + 250px);
        width: 85px;
      }
      @media screen and (max-width: 768px) {
        right: auto;
        left: 20px;
        width: 90px;
      }
      @media screen and (max-width: 576px) {
        top: 100px;
        width: 50px;
      }
    }

    &.icon2 {
      width: 116px;
      top: 190px;
      left: calc(50% + 450px);
      @media screen and (max-width: 1200px) {
        left: calc(50% + 380px);
      }
      @media screen and (max-width: 992px) {
        left: calc(50% + 300px);
      }
      @media screen and (max-width: 768px) {
        width: 80px;
        left: auto;
        right: -15px;
      }
      @media screen and (max-width: 576px) {
        width: 58px;
        top: 90px;
      }
    }

    &.icon3 {
      bottom: -70px;
      right: calc(50% + 170px);
      width: 256px;
      @media screen and (max-width: 992px) {
        right: calc(50% + 150px);
        width: 230px;
      }
      @media screen and (max-width: 768px) {
        right: auto;
        left: 0;
        width: 200px;
        bottom: -50px;
      }
      @media screen and (max-width: 576px) {
        width: 130px;
      }
    }

    &.icon4 {
      bottom: 84px;
      left: calc(50% + 320px);
      width: 160px;
      @media screen and (max-width: 992px) {
        left: calc(50% + 230px);
      }
      @media screen and (max-width: 768px) {
        width: 120px;
        left: auto;
        right: 0;
      }
      @media screen and (max-width: 576px) {
        bottom: 50px;
        width: 80px;
      }
    }
  }

  &__image {
    @include p-absolute;
    @include center;
    transform: rotate(-5deg);
    width: 330px;
    height: max-content;
    z-index: 1;
    @media screen and (max-width: 768px) {
      width: 243px;
    }
    @media screen and (max-width: 576px) {
      width: 150px;
    }

    img {
      width: 100%;
    }
  }
}

.bi-community-content {
  padding: 140px 0 170px;
  background-color: $white-color;
  @media screen and (max-width: 992px) {
    padding: 80px 0 130px;
  }
  @media screen and (max-width: 768px) {
    padding: 60px 0 130px;
  }

  &__row1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 130px;
    @media screen and (max-width: 992px) {
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &-image {
      flex-shrink: 0;
      width: 445px;
      padding-top: 20px;
      @media screen and (max-width: 992px) {
        width: 300px;
      }
      @media screen and (max-width: 768px) {
        width: calc(100% - 40px);
        max-width: 450px;
        margin-bottom: 70px;
      }

      img {
        width: 100%;
        transform: rotate(-3deg);
      }
    }

    &-text {
      width: 520px;
      padding-right: 80px;
      @media screen and (max-width: 1200px) {
        padding-right: 0;
        width: 420px;
      }
      @media screen and (max-width: 992px) {
        width: 370px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
      }

      h3 {
        @extend %h3;
        margin-bottom: 60px;
        @media screen and (max-width: 992px) {
          margin-bottom: 40px;
        }
      }

      p {
        @extend %text1;
        margin-bottom: 0;
      }
    }
  }

  &__line {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    @media screen and (max-width: 992px) {
      margin-bottom: 28px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    img {
      flex-shrink: 0;
      width: 82px;
      margin-right: 50px;
      @media screen and (max-width: 992px) {
        margin-right: 25px;
      }
      @media screen and (max-width: 768px) {
        margin-right: 50px;
      }
    }

    p {
      @extend %text1;
      margin-bottom: 0;
    }
  }

  &__row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &-image {
      flex-shrink: 0;
      width: 574px;
      @media screen and (max-width: 1200px) {
        width: 500px;
      }
      @media screen and (max-width: 992px) {
        width: 365px;
      }

      @media screen and (max-width: 768px) {
        width: calc(100% - 40px);
        max-width: 450px;
        margin-bottom: 70px;
      }

      img {
        width: 100%;
      }
    }

    &-text {
      width: 384px;

      @media screen and (max-width: 992px) {
        width: 320px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
      }

      h3 {
        @extend %h3;
        margin-bottom: 19px;
      }

      p {
        @extend %text1;
        margin-bottom: 0;
      }

      .bi-btn {
        margin-top: 60px;
        width: 265px;
      }
    }
  }
}