@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-BoldItalic.eot');
  src: url('Karla-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-BoldItalic.woff2') format('woff2'),
  url('../fonts/Karla-BoldItalic.woff') format('woff'),
  url('../fonts/Karla-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Bold.eot');
  src: url('Karla-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-Bold.woff2') format('woff2'),
  url('../fonts/Karla-Bold.woff') format('woff'),
  url('../fonts/Karla-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-ExtraBoldItalic.eot');
  src: url('Karla-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/Karla-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/Karla-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-ExtraBold.eot');
  src: url('Karla-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-ExtraBold.woff2') format('woff2'),
  url('../fonts/Karla-ExtraBold.woff') format('woff'),
  url('../fonts/Karla-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Medium.eot');
  src: url('Karla-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-Medium.woff2') format('woff2'),
  url('../fonts/Karla-Medium.woff') format('woff'),
  url('../fonts/Karla-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-SemiBold.eot');
  src: url('Karla-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-SemiBold.woff2') format('woff2'),
  url('../fonts/Karla-SemiBold.woff') format('woff'),
  url('../fonts/Karla-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-SemiBoldItalic.eot');
  src: url('Karla-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Karla-SemiBoldItalic.woff') format('woff'),
  url('../fonts/Karla-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Regular.eot');
  src: url('Karla-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-Regular.woff2') format('woff2'),
  url('../fonts/Karla-Regular.woff') format('woff'),
  url('../fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Light.eot');
  src: url('Karla-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-Light.woff2') format('woff2'),
  url('../fonts/Karla-Light.woff') format('woff'),
  url('../fonts/Karla-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-LightItalic.eot');
  src: url('Karla-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-LightItalic.woff2') format('woff2'),
  url('../fonts/Karla-LightItalic.woff') format('woff'),
  url('../fonts/Karla-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-MediumItalic.eot');
  src: url('Karla-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-MediumItalic.woff2') format('woff2'),
  url('../fonts/Karla-MediumItalic.woff') format('woff'),
  url('../fonts/Karla-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-ExtraLightItalic.eot');
  src: url('Karla-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/Karla-ExtraLightItalic.woff') format('woff'),
  url('../fonts/Karla-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-ExtraLight.eot');
  src: url('Karla-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-ExtraLight.woff2') format('woff2'),
  url('../fonts/Karla-ExtraLight.woff') format('woff'),
  url('../fonts/Karla-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/Karla-Italic.eot');
  src: url('Karla-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Karla-Italic.woff2') format('woff2'),
  url('../fonts/Karla-Italic.woff') format('woff'),
  url('../fonts/Karla-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

