.bi-footer {
  background-color: $light-blue-color;

  &__wrap {
    padding: 60px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 576px) {
      flex-direction: column;
      padding: 60px 0 40px;
    }

    h4 {
      @extend %subtitle2;
      margin-bottom: 22px;
    }
  }

  &__col {
    padding-top: 14px;

    @media screen and (max-width: 992px) {
      padding-top: 0;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
    }
    &:first-child {
      @media screen and (max-width: 576px) {
        margin-bottom: 40px;
      }
    }
  }

  &__logo {
    width: 172px;
    display: block;
    @media screen and (max-width: 992px) {
      width: 100%;
      margin-bottom: 40px;
    }

    img {
      width: 100%;
      @media screen and (max-width: 992px) {
        width: 170px;
      }
    }
  }

  &__line {
    background-color: $black-color;
    padding: 25px 0;
    width: 100%;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        @extend %text2;
        color: $white-color;
        margin: 0 40px 0 0;
      }

      a {
        @extend %text2;
        text-decoration: none;
        color: $white-color;
        transition: all 0.25s;

        &:hover {
          text-decoration: none;
          color: $yellow-color;
        }
      }
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 11px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li a {
      @extend %text2;
      text-decoration: none;
      transition: all 0.25s;
      color: $black-color;

      &:hover {
        text-decoration: none;
        color: $blue-color;
      }
    }
  }

  &__menu-soc {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      margin-right: 30px;
      @media screen and (max-width: 768px) {
        margin-right: 25px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    li a {
      display: block;
      height: 28px;
      cursor: pointer;

      img {
        display: block;
        height: 100%;
      }
    }
  }
}