.bi-banner-blue {
  background-color: $light-blue-color;
  padding: 143px 0 125px;
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    max-width: 890px;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1200px) {
      max-width: 700px;
    }

    img {
      width: 100%;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;


    &.icon1 {
      width: 72px;
      top: 100px;
      right: calc(50% + 400px);
      @media screen and (max-width: 1200px) {
        left: 20px;
        right: auto;
      }
      @media screen and (max-width: 768px) {
        width: 40px;
        top: 100px;
      }
    }

    &.icon2 {
      width: 134px;
      top: 140px;
      left: calc(50% + 350px);
      @media screen and (max-width: 1200px) {
        left: auto;
        right: 25px;
      }
      @media screen and (max-width: 768px) {
        width: 63px;
        top: 90px;
      }
    }

    &.icon3 {
      width: 213px;
      top: 230px;
      right: calc(50% + 500px);
    }

    &.icon4 {
      width: 140px;
      top: 250px;
      left: calc(50% + 550px);

      @media screen and (max-width: 992px) {
        width: 73px;
        left: auto;
        right: -15px;
        top: auto;
        bottom: 52px;
      }
    }

    &.icon5 {
      width: 140px;
      bottom: -66px;
      right: calc(50% + 350px);

      @media screen and (max-width: 992px) {
        width: 73px;
        left: 35px;
        right: auto;
        bottom: -50px;
      }
    }

    &.icon6 {
      width: 254px;
      bottom: -35px;
      left: calc(50% + 300px);
      @media screen and (max-width: 992px) {
        width: 120px;
        left: 60%;
        bottom: -25px;
      }
    }

    img {
      width: 100%;
    }
  }
}

.bi-halles-banner {
  height: calc(100vh - 71px);
  position: relative;
  overflow: hidden;

  img {
    @include p-absolute;
    @include full-img;
  }
}

.bi-halles-content {
  padding: 100px 0 60px;
  position: relative;
  background-color: $light-beige-color;

  &__icon1 {
    position: absolute;
    width: 210px;
    top: 430px;
    left: -40px;

    @media screen and (max-width: 1200px) {
      top: 400px;
    }
    @media screen and (max-width: 992px) {
      left: -80px;
      width: 187px;
    }

    img {
      width: 100%;
    }
  }

  &__icon2 {
    position: absolute;
    width: 108px;
    top: -68px;
    right: 50%;

    @media screen and (max-width: 768px) {
      right: 0;
      top: 320px;
      width: 70px;
    }

    img {
      width: 100%;
    }
  }

  &__icon6 {
    position: absolute;
    width: 162px;
    bottom: 0;
    left: -25px;
    @media screen and (max-width: 1200px) {
      width: 140px;
      left: -100px;
    }
    @media screen and (max-width: 992px) {
      width: 110px;
      left: -100px;
    }

    @media screen and (max-width: 768px) {
      left: 0;
      width: 53px;
    }

    img {
      width: 100%;
    }
  }

  &__icon7 {
    position: absolute;
    width: 324px;
    top: -97px;
    left: calc(50% + 500px);
    @media screen and (max-width: 1200px) {
      width: 280px;
      left: calc(50% + 400px);
    }

    @media screen and (max-width: 768px) {
      width: 154px;
      top: auto;
      bottom: 280px;
      left: calc(50% + 70px);
    }

    img {
      width: 100%;
    }
  }
}

.bi-row1 {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  margin-bottom: -40px;

  @media screen and (max-width: 1200px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__col-text {
    position: relative;
    flex-grow: 1;
    padding-top: 90px;
    padding-left: 150px;
    padding-right: 160px;
    @media screen and (max-width: 1300px) {
      padding-left: 130px;
      padding-right: 90px;
    }
    @media screen and (max-width: 1200px) {
      padding-left: 130px;
      padding-right: 50px;
      padding-top: 50px;
    }
    @media screen and (max-width: 992px) {
      padding-left: 50px;
      padding-right: 10px;
      padding-top: 50px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      padding-top: 80px;
      padding-left: 0;
      padding-right: 0;
    }

    h4 {
      @extend %h3;
      margin-bottom: 16px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 335px;
        margin: 0 auto 16px;
      }

      &:before {
        @include before;
        position: absolute;
        right: 30px;
        height: 102px;
        width: 104px;
        top: -56px;
        @include bs-contain;
        background-image: url("../img/text-icon5.svg");

        @media screen and (max-width: 992px) {
          height: 80px;
          width: 80px;
        }
      }
    }

    p {
      @extend %text1;
      margin-bottom: 0;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 335px;
        margin: 0 auto;
      }
    }

    &:before {
      @include before;
      @include p-absolute;
      @include bs-contain;
      background-image: url("../img/adv-top.svg");
      width: 664px;
      height: 648px;
      top: -90px;
      right: 0;
      z-index: 1;

      @media screen and (max-width: 1200px) {
        width: 584px;
        height: 568px;
      }
      @media screen and (max-width: 992px) {
        left: -80px;
      }

      @media screen and (max-width: 768px) {
        width: 604px;
        height: 588px;
        left: -50px;
      }

      @media screen and (max-width: 576px) {
        left: calc((100vw - 620px) / 2);
        right: 0;
        margin: auto;
      }
    }
  }

  &__col-image {
    width: 523px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1200px) {
      width: 40%;
    }
    @media screen and (max-width: 992px) {
      width: 45%;
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      max-width: 340px;
      margin: 100px auto 0;
    }

    img {
      width: 100%;
    }
  }
}

.bi-row2 {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }

  &__col-text {
    position: relative;
    flex-grow: 1;
    padding-top: 70px;
    padding-left: 120px;
    padding-right: 100px;

    @media screen and (max-width: 1200px) {
      padding-top: 20px;
      padding-left: 80px;
      padding-right: 60px;
    }
    @media screen and (max-width: 992px) {
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 0;
    }
    @media screen and (max-width: 768px) {
      padding: 0;
      width: 100%;
      max-width: 340px;
      margin: 0 auto 50px;
    }

    img {
      width: 112px;
      margin: 0 0 25px 15px;
      @media screen and (max-width: 1200px) {
        width: 90px;
      }
    }

    h4 {
      @extend %h3;
      margin-bottom: 20px;
      position: relative;
      z-index: 2;
    }

    p {
      @extend %text1;
      margin-bottom: 0;
      position: relative;
      z-index: 2;
    }
  }

  &__col-image {
    width: 50%;
    height: 554px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 1200px) {
      height: 470px;
    }
    @media screen and (max-width: 992px) {
      height: 400px;
    }
    @media screen and (max-width: 768px) {
      height: 310px;
      width: 100%;
      justify-content: center;
    }

    img {
      height: 100%;

      @media screen and (max-width: 768px) {
        margin-right: 30px;
      }
    }
  }
}

.bi-row3 {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  margin-bottom: 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__col-text {
    position: relative;
    flex-grow: 1;
    padding-top: 110px;
    padding-left: 140px;
    padding-right: 15px;

    @media screen and (max-width: 1200px) {
      padding-top: 60px;
      padding-left: 50px;
    }
    @media screen and (max-width: 992px) {
      padding-top: 40px;
      padding-left: 0;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 360px;
      margin: 0 auto 60px;
      padding: 0;
    }

    img {
      width: 126px;
      margin: 0 0 0 -76px;

      @media screen and (max-width: 768px) {
        width: 100px;
        margin: 0 0 25px 20px;
      }
    }

    h4 {
      @extend %h3;
      margin-bottom: 60px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 992px) {
        margin-bottom: 20px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 50px;
      }
    }

    p {
      @extend %text1;
      margin-bottom: 0;
      position: relative;
      z-index: 2;
      max-width: 340px;
    }
  }

  &__col-image {
    width: 50%;
    height: 544px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;

    @media screen and (max-width: 1200px) {
      height: 450px;
    }

    @media screen and (max-width: 992px) {
      height: 400px;
    }
    @media screen and (max-width: 768px) {
      height: 300px;
      width: 100%;
      justify-content: center;
    }

    img {
      height: 100%;
    }
  }
}

.bi-halles-tags {
  padding: 28px 0 26px;
  background-color: $light-beige-color;
  display: flex;
  justify-content: center;

  &__slider {
    width: 100%;
  }

  .swiper-wrapper {
    width: max-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /*@media screen and (min-width: 1200px) {
      transform: none !important;
    }*/
  }

  .swiper-slide {
    width: auto;
  }

  &__item {
    @extend %subtitle3;
    text-decoration: none;
    position: relative;
    color: $black-color;
    transition: all 0.25s;

    &.active {
      color: $black-color;

      &:after {
        width: 100%;
      }
    }

    &:hover {
      color: $black-color;

      &:after {
        width: 100%;
      }
    }

    &:after {
      @include before;
      transition: all 0.25s;
      width: 0;
      border-bottom: 2px solid $black-color;
      position: absolute;
      left: 5px;
      bottom: -4px;
    }
  }
}

.bi-places {
  padding: 90px 0;
  background-color: $white-color;

  @media screen and (max-width: 768px) {
    padding: 52px 0 62px;
  }

  h2 {
    @extend %h1;
    text-align: center;
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__select {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  &__wrap {
    position: relative;
    margin-top: -75px;
    margin-bottom: 47px;
    @media screen and (max-width: 1200px) {
      margin-top: -60px;
    }
    @media screen and (max-width: 992px) {
      margin-top: -52px;
    }

    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }

  .swiper-slide {
    width: 288px;
    padding: 30px 0 56px;
    @media screen and (max-width: 768px) {
      width: 250px;
    }
  }

  &__item {
    display: block;
    text-decoration: none;
    transition: all 0.25s;

    $f: &;

    &:hover {
      transform: rotate(-5deg);

      #{$f}-content {
        background-color: $light-beige-color;
      }

      #{$f}-image {
        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &-image {
      position: relative;
      padding-bottom: 63.3%;
      overflow: hidden;

      &:after {
        @include before;
        @include p-absolute;
        @include center;
        width: 60px;
        height: 60px;
        @include bs-contain;
        background-image: url("../img/voir.svg");
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: all 0.25s;
      }

      img {
        @include p-absolute;
        @include full-img;
      }
    }

    &-content {
      height: 131px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s;
      background-color: $white-color;
      @media screen and (max-width: 768px) {
        background-color: $light-beige-color;
      }
    }

    &-logo {
      height: 73px;
      margin: 0 auto;

      img {
        height: 100%;
      }
    }
  }

  &-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
      @include bs-contain;
      opacity: 1;
      background-image: url("../img/pagination-brown.svg");
      margin-right: 28px;
      background-color: transparent;

      @media screen and (max-width: 768px) {
        height: 10px;
        width: 10px;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: url("../img/pagination-black.svg");
    }
  }

  &__tags {
    @include ul;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    @media screen and (max-width: 768px) {
      display: none;
    }

    li {
      margin-right: 50px;
      position: relative;

      @media screen and (max-width: 992px) {
        margin-right: 37px;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }

      &:after {
        @include before;
        height: 7px;
        width: 7px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -28px;
        margin: auto;
        @include bs-contain;
        background-image: url("../img/pagination-black.svg");
        @media screen and (max-width: 992px) {
          right: -22px;
        }
      }
    }

    li a {
      text-decoration: none;
      @extend %subtitle1;
      color: $black-color;
      transition: all 0.25s;
      position: relative;

      &.active {
        color: $blue-color;

        &:after {
          width: 100%;
        }
      }

      &:after {
        @include before;
        position: absolute;
        bottom: -3px;
        height: 0;
        width: 0;
        border-bottom: 2px solid $blue-color;
        transition: all 0.25s;
      }

      &:hover {
        color: $blue-color;

        &:after {
          width: 100%;
        }
      }
    }
  }
}

.bi-map {
  height: 774px;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 992px) {
    height: 600px;
  }
  @media screen and (max-width: 768px) {
    height: 430px;
  }

  img {
    @include p-absolute;
    @include full-img;
  }
}

.bi-traders {
  padding: 60px 0 87px;
  background-color: $white-color;
  @media screen and (max-width: 768px) {
    padding: 60px 0 75px;
  }

  $f: &;

  h2 {
    @extend %h1;
    text-align: center;
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
      margin-bottom: 28px;
    }
  }

  &__wrap {
    position: relative;
    margin-top: -75px;
    margin-bottom: 38px;
    @media screen and (max-width: 1200px) {
      margin-top: -60px;
    }

    @media screen and (max-width: 992px) {
      margin-top: 0;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }

  .swiper-wrapper {
    padding: 30px 0 48px;
  }

  .swiper-slide {
    width: 290px;

    @media screen and (max-width: 768px) {
      width: 250px;
    }
  }

  &__item {
    position: relative;
    transition: all 0.25s;

    &:hover {
      transform: rotate(-5deg);

      #{$f}__item-info {
        visibility: visible;
        opacity: 1;
      }
    }

    &-image {
      position: relative;
      padding-bottom: 76.1%;
      overflow: hidden;

      img {
        @include p-absolute;
        @include full-img;
      }
    }

    &-content {
      height: 130px;
      background-color: $white-color;
      transition: all 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 768px) {
        background-color: $light-beige-color;
      }
    }

    &-logo {
      height: 98px;

      img {
        height: 100%;
      }
    }

    &-info {
      @include p-absolute;
      @include full;
      background-color: $light-beige-color;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 30px 20px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s;

      &:hover {
        opacity: 1;
        visibility: visible;
      }

      h4 {
        @extend %subtitle1;
        margin-bottom: 0;
      }

      h6 {
        @extend %text1;
        font-weight: 800;
        margin-bottom: 10px;
      }

      p {
        @extend %text3;
        margin-bottom: 20px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      #{$f}__item-logo {
        height: 123px;
        margin-bottom: 15px;

        img {
          height: 100%;
        }
      }
    }
  }

  &-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
      @include bs-contain;
      opacity: 1;
      background-image: url("../img/pagination-brown.svg");
      margin-right: 28px;
      background-color: transparent;
      @media screen and (max-width: 768px) {
        height: 10px;
        width: 10px;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: url("../img/pagination-black.svg");
    }
  }

  &__tags {
    @media screen and (max-width: 768px) {
      display: none;
    }
    ul {
      @include ul;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 36px;
      &:last-child {
        margin-bottom: 0;
      }

      li {
        margin-right: 55px;
        position: relative;
        @media screen and (max-width: 1200px) {
          margin-right: 50px;
        }
        @media screen and (max-width: 992px) {
          margin-right: 30px;
        }
        &:last-child {
          margin-right: 0;
          a:after {
            display: none;
          }
        }

        &:hover {
          &:after {
            width: 100%;
          }
        }

        &:after {
          @include before;
          width: 0;
          position: absolute;
          bottom: -2px;
          left: 0;
          border-bottom: 2px solid $black-color;
          transition: all 0.25s;
          z-index: 2;
        }

        &.active {
          a:before {
            opacity: 1;
            visibility: visible;
          }

          &:after {
            width: 100%;
          }
        }
      }

      li a {
        @extend %subtitle1;
        position: relative;
        text-decoration: none;
        color: $black-color;
        z-index: 2;
        transition: all 0.25s;
        @media screen and (max-width: 992px) {
          font-size: 15px;
        }

        &:hover {
          text-decoration: none;
        }

        &:after {
          @include before;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -31px;
          margin: auto;
          height: 7px;
          width: 7px;
          @include bs-contain;
          background-image: url("../img/pagination-black.svg");
          @media screen and (max-width: 992px) {
            right: -18px;
          }
        }

        &:before {
          @include before;
          width: 48px;
          height: 71px;
          position: absolute;
          left: 0;
          right: 0;
          top: -25px;
          margin: auto;
          @include bs-contain;
          background-image: url("../img/tags-active.svg");
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          transition: all 0.25s;
        }
      }
    }
  }
}

.bi-min-map {
  height: 479px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    height: 420px;
  }

  img {
    @include p-absolute;
    @include full-img;
  }
}

.bi-practical-info {
  background-color: $light-beige-color;
  padding: 64px 0 67px;
  @media screen and (max-width: 768px) {
    padding: 50px 0 0;
  }

  h2 {
    @extend %h1;
    text-align: center;
    margin-bottom: -35px;
    br {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
    @media screen and (max-width: 1200px) {
      margin-bottom: -25px;
    }
    @media screen and (max-width: 992px) {
      margin-bottom: -15px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: -10px;
    }
    @media screen and (max-width: 576px) {
      margin-bottom: -5px;
    }
  }

  &__wrap {
    display: flex;
    align-self: stretch;
    margin: 0 -15px;
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__col {
    padding: 0 15px;
    width: calc(100% / 3);
    margin-bottom: 20px;

    @media screen and (max-width: 992px) {
      width: 50%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__item {
    background-color: $white-color;
    padding: 45px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    @media screen and (max-width: 1200px) {
      padding: 35px 15px;
    }

    @media screen and (max-width: 992px) {
      padding: 45px 30px;
      height: 360px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 340px;
      margin: 0 auto;
    }

    &-icon {
      margin-bottom: 20px;

      &.icon-flag {
        height: 56px;
      }

      &.icon-clock {
        height: 47px;
      }

      &.icon-car {
        height: 43px;
      }

      img {
        height: 100%;
      }
    }

    h5 {
      @extend %h5;
      margin-bottom: 24px;
    }

    p {
      @extend %text1;
      margin-bottom: 0;
      b {
        font-weight: 800;
      }
    }
  }
}

.bi-big-slider {
  max-height: 783px;
  height: 100vh;
  background-color: $light-beige-color;

  $f: &;

  &.bi-big-main {
    height: 800px;

    #{$f}-prev {
      background-image: url("../img/slide-prev-black.svg");
    }

    #{$f}-next {
      background-image: url("../img/slide-next-black.svg");
    }

    #{$f}-pagination {
      .swiper-pagination-bullet {
        background-image: url("../img/pagination-brown.svg");
      }

      .swiper-pagination-bullet-active {
        background-image: url("../img/pagination-black.svg");
      }
    }

    @media screen and (max-width: 1200px) {
      height: 600px;
    }
    @media screen and (max-width: 768px) {
      height: 434px;
    }
  }

  @media screen and (max-width: 1200px) {
    height: 600px;
  }
  @media screen and (max-width: 768px) {
    height: 434px;
  }

  &__swiper {
    height: 100%;
  }

  &__wrap {
    position: relative;
    height: 100%;
  }

  .swiper-slide {
    @include full;
    position: relative;
    overflow: hidden;

    img {
      @include p-absolute;
      @include full-img;
      z-index: 1;
    }
  }

  &-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 44px;
    margin: auto;
    z-index: 2;

    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
      @include bs-contain;
      opacity: 1;
      background-image: url("../img/pagination-white.svg");
      margin-right: 28px;
      background-color: transparent;
      @media screen and (max-width: 768px) {
        height: 10px;
        width: 10px;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: url("../img/pagination-active.svg");
    }
  }

  &-next, &-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
    width: 43px;
    @include bs-contain;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }

    &:after {
      display: none;
    }
  }

  &-prev {
    left: 60px;
    background-image: url("../img/slide-prev-white.svg");
    @media screen and (max-width: 1200px) {
      left: 20px;
    }
    @media screen and (max-width: 768px) {
      left: 0;
    }
    @media screen and (max-width: 576px) {
      left: -5px;
    }
  }

  &-next {
    right: 60px;
    background-image: url("../img/slide-next-white.svg");
    @media screen and (max-width: 1200px) {
      right: 20px;
    }
    @media screen and (max-width: 768px) {
      right: 0;
    }
    @media screen and (max-width: 576px) {
      right: -5px;
    }
  }
}

.bi-services-main {
  padding: 100px 0 110px;
  background-color: $white-color;
  @media screen and (max-width: 768px) {
    padding: 60px 0 76px;
  }

  h2 {
    @extend %h2;
    text-align: center;
    margin-bottom: 80px;
  }

  &__row1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 110px;

    @media screen and (max-width: 992px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 70px;
    }

    &-image {
      width: 382px;
      flex-shrink: 0;
      transform: rotate(-3deg);

      @media screen and (max-width: 992px) {
        width: 300px;
      }
      @media screen and (max-width: 768px) {
        width: 320px;
        margin: 0 auto 50px;
      }

      img {
        width: 100%;
      }
    }

    &-text {
      width: 380px;
      flex-shrink: 0;
      @media screen and (max-width: 992px) {
        width: 320px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
      }

      img {
        width: 88px;
        margin: 0 0 25px 15px;
        @media screen and (max-width: 768px) {
          margin-bottom: 33px;
        }
      }

      h3 {
        @extend %h3;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
          margin-bottom: 28px;
        }
      }

      p {
        @extend %text1;
        margin-bottom: 23px;
        @media screen and (max-width: 768px) {
          margin-bottom: 45px;
        }
      }

      h6 {
        @extend %h5;
        margin-bottom: 20px;
      }
    }
  }

  &__row2 {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &-image {
      width: 433px;
      flex-shrink: 0;
      transform: rotate(5deg);

      @media screen and (max-width: 992px) {
        width: 310px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 320px;
        margin: 0 auto 48px;
      }

      img {
        width: 100%;
      }
    }

    &-text {
      width: 400px;
      flex-shrink: 0;
      margin-right: 60px;

      @media screen and (max-width: 992px) {
        width: 360px;
        margin-right: 0;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 320px;
      }

      img {
        width: 97px;
        margin: 0 0 10px 10px;
      }

      h3 {
        @extend %h3;
        margin-bottom: 20px;
      }

      p {
        @extend %text1;
        margin-bottom: 40px;
        @media screen and (max-width: 768px) {
          margin-bottom: 30px;
        }
      }
    }
  }
}

.bi-h-video {
  padding: 130px 0 160px;
  background-color: $light-beige-color;
  $f: &;

  &__icon {
    position: absolute;
    bottom: -80px;
    left: 200px;
    width: 220px;
    @media screen and (max-width: 1200px) {
      bottom: -100px;
      width: 180px;
    }
    @media screen and (max-width: 992px) {
      width: 77px;
      left: 70px;
      bottom: auto;
      top: 300px;
    }

    img {
      width: 100%;
    }
  }

  &.bi-h-video-right {
    @media screen and (max-width: 992px) {
      padding-top: 110px;
    }

    #{$f}__wrap {
      position: relative;
      flex-direction: row-reverse;
      @media screen and (max-width: 992px) {
        flex-direction: column-reverse;
      }
    }

    #{$f}__block {
      @media screen and (max-width: 992px) {
        margin-bottom: 0;
      }

      &:after {
        bottom: auto;
        top: -60px;
        left: auto;
        right: -60px;
        transform: rotate(180deg);
        @media screen and (max-width: 768px) {
          top: -30px;
          right: -20px;
        }
      }
    }

    #{$f}__content {
      @media screen and (max-width: 992px) {
        margin-bottom: 150px;
        max-width: 350px;
      }

      &:before {
        @include before;
        width: 367px;
        height: 376px;
        position: absolute;
        left: -15px;
        right: auto;
        top: 40px;
        @include bs-contain;
        background-image: url("../img/yellow-star.svg");
        @media screen and (max-width: 992px) {
          top: -70px;
          left: -40px;
          right: auto;
        }
      }

      h6 {
        margin-bottom: 23px;
      }

      h2 {
        margin: 0 0 16px;
      }
    }
  }

  @media screen and (max-width: 992px) {
    padding: 50px 0 100px;
  }

  @media screen and (max-width: 768px) {
    padding: 20px 0 100px;
  }

  &__wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__block {
    position: relative;
    width: 677px;
    flex-shrink: 0;
    z-index: 3;

    @media screen and (max-width: 1200px) {
      width: 60%;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      max-width: 677px;
      margin-bottom: 120px;
    }

    &:after {
      @include before;
      position: absolute;
      bottom: -70px;
      left: -70px;
      width: 83px;
      height: 93px;
      @include bs-contain;
      background-image: url("../img/video-icon.svg");

      @media screen and (max-width: 768px) {
        width: 41px;
        height: 46px;
        bottom: -35px;
        left: -20px;
        transform: rotate(-30deg);
      }
    }

    img {
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }

  &__play {
    @include p-absolute;
    @include center;
    width: 70px;
    height: 72px;
    cursor: pointer;
    @include bs-contain;
    background-image: url("../img/video-play.svg");
    transition: all 0.25s;
    z-index: 2;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__content {
    width: 406px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;

    @media screen and (max-width: 1200px) {
      width: 35%;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      max-width: 500px;
    }

    &:before {
      @include before;
      width: 585px;
      height: 600px;
      position: absolute;
      right: -30px;
      top: -90px;
      @include bs-contain;
      background-image: url("../img/content-star.svg");
      z-index: -1;

      @media screen and (max-width: 992px) {
        top: -140px;
      }

      @media screen and (max-width: 576px) {
        right: calc((100vw - 585px) / 2);
      }
    }

    h2 {
      @extend %h2;
      margin-bottom: 15px;
      position: relative;

      @media screen and (max-width: 992px) {
        margin-bottom: 50px;
      }
    }

    p {
      @extend %text1;
      margin-bottom: 35px;

      @media screen and (max-width: 992px) {
        margin-bottom: 45px;
      }
    }

    h6 {
      @extend %subtitle2;
      margin-bottom: 20px;
    }
  }
}

.bi-plan {
  padding: 50px 0 120px;
  background-color: $light-beige-color;
  @media screen and (max-width: 992px) {
    padding: 50px 0 60px;
  }

  .bi-container {
    @media screen and (max-width: 992px) {
      max-width: 100%;
      padding: 0;
    }
  }

  h2 {
    @extend %h2;
    text-align: center;
    margin-bottom: 70px;
    @media screen and (max-width: 992px) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__map {
    width: 700px;
    flex-shrink: 0;
    @media screen and (max-width: 992px) {
      width: 100%;
      max-width: 700px;
    }

    img {
      width: 100%;
    }
  }

  &__list {
    display: none;
    @media screen and (max-width: 992px) {
     display: block;
      margin-bottom: 45px;
    }

    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 992px) {
        flex-direction: row;
        align-items: flex-end;
      }

      .swiper-slide {
        @media screen and (max-width: 992px) {
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }

  &__list-main {
    width: 185px;
    flex-shrink: 0;
    margin-left: 100px;
    @media screen and (max-width: 1200px) {
      margin-left: 50px;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 21px;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-image {
      width: 54px;
      flex-shrink: 0;
      margin-right: 15px;

      @media screen and (max-width: 992px) {
        height: 37px;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
      }

      img {
        max-width: 100%;
        max-height: 42px;
        @media screen and (max-width: 992px) {
          max-height: 37px;
        }
      }
    }

    p {
      @extend %subtitle3;
      margin-bottom: 10px;
    }
  }
}