.bi-header {
  padding: 30px 0;
  position: fixed;
  z-index: 15;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.25s;
  $f: &;

  .bi-container {
    @media screen and (max-width: 992px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &.open {
    @media screen and (max-width: 992px) {
      background-color: $light-blue-color !important;
      height: 100%;

      #{$f}__wrap {
        display: flex;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
  }

  &.bi-header-blue {
    #{$f}__menu {
      li a {
        color: $white-color;

        &:after {
          border-color: $white-color;
        }
      }
    }

    #{$f}__link {
      color: $white-color;

      &:after {
        border-color: $white-color;
      }
    }

    #{$f}__burger {
      span {
        background-image: url("../img/burger-w.svg");
      }
    }

    #{$f}__select {
      .select2-container {
        .select2-selection__rendered {
          color: $white-color !important;
        }

        .select2-selection__arrow {
          background-image: url("../img/arrow-white.svg");
        }
      }
    }

    .bi-btn-black {
      background-image: url("../img/header-blue.svg");
      color: $black-color;
    }
  }

  &.bi-header-white {
    #{$f}__menu {
      li a {
        color: $white-color;

        &:after {
          border-color: $white-color;
        }
      }
    }

    #{$f}__link {
      color: $white-color;

      &:after {
        border-color: $white-color;
      }
    }

    #{$f}__burger {
      span {
        background-image: url("../img/burger-w.svg");
      }
    }

    #{$f}__select {
      .select2-container {
        .select2-selection__rendered {
          color: $white-color !important;
        }

        .select2-selection__arrow {
          background-image: url("../img/arrow-white.svg");
        }
      }
    }

    .bi-btn-black {
      background-image: url("../img/btn-white.svg");
      color: $black-color;
    }
  }

  &.fixed {
    background-color: $white-color;
    padding: 26px 0;

    #{$f}__menu {
      li a {
        color: $black-color;

        &:after {
          border-color: $black-color;
        }
      }
    }

    #{$f}__link {
      color: $black-color;

      &:after {
        border-color: $black-color;
      }
    }

    #{$f}__burger {
      span {
        background-image: url("../img/burger-b.svg");
      }
    }

    #{$f}__select {
      .select2-container {
        .select2-selection__rendered {
          color: $black-color !important;
        }

        .select2-selection__arrow {
          background-image: url("../img/arrow-black.svg");
        }
      }
    }

    .bi-btn-black {
      background-image: url("../img/header-black.svg");
      color: $white-color;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      display: none;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {
    width: 145px;
    display: block;
    @media screen and (max-width: 1200px) {
      width: 120px;
    }
    @media screen and (max-width: 992px) {
      display: none;
    }

    img {
      width: 100%;
    }

    &.black-logo {
      .logo-black {
        display: block;
      }

      .logo-white {
        display: none;
      }
    }

    .logo-black {
      display: none;
    }
  }

  &__logo-min {
    display: none;
    z-index: 20;
    @media screen and (max-width: 992px) {
      display: block;
      width: 130px;
    }

    img {
      width: 100%;
    }

    &.black-logo {
      .logo-black {
        display: block;
      }

      .logo-white {
        display: none;
      }
    }

    .logo-black {
      display: none;
    }
  }

  &__menu {
    @include ul;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
      width: 380px;
    }
    @media screen and (max-width: 992px) {
      flex-direction: column;
      justify-content: center;
    }

    li {
      @media screen and (max-width: 992px) {
        margin-bottom: 36px;
      }
    }

    li a {
      @extend %subtitle3;
      color: $black-color;
      text-decoration: none;
      transition: all 0.25s;
      position: relative;
      @media screen and (max-width: 992px) {
        font-size: 20px;
      }

      &.active {
        &:after {
          width: 105%;
        }
      }

      &:after {
        @include before;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        border-bottom: 2px solid $black-color;
        transition: all 0.25s;
      }

      &:hover {
        color: initial;

        &:after {
          width: 105%;
        }
      }
    }
  }

  &__burger {
    width: 40px;
    height: 25px;
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 20;
    @media screen and (max-width: 992px) {
      display: block;
    }

    span {
      display: block;
      width: 40px;
      height: 5px;
      @include bs-contain;
      background-image: url("../img/burger-b.svg");
      border-radius: 10px;
      position: absolute;
      left: 0;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 10px;
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    &.open {
      span:nth-child(1) {
        top: 9px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }

      span:nth-child(3) {
        top: 9px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    width: 400px;
    flex-shrink: 0;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
      width: 380px;
    }
    @media screen and (max-width: 992px) {
      flex-direction: column;
      justify-content: center;
    }

    .bi-btn-black {
      height: 40px;
      width: 220px;
      padding: 0;
      line-height: 40px;
      text-align: center;
      background-image: url("../img/header-black.svg");
      @media screen and (max-width: 992px) {
        height: 60px;
        width: 335px;
        line-height: 60px;
        font-size: 20px;
      }
    }
  }

  &__link {
    @extend %subtitle3;
    color: $black-color;
    text-decoration: none;
    transition: all 0.25s;
    position: relative;
    @media screen and (max-width: 992px) {
      margin-bottom: 36px;
      font-size: 20px;
    }

    &.active {
      &:after {
        width: 105%;
      }
    }

    &:after {
      @include before;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      border-bottom: 2px solid $black-color;
      transition: all 0.25s;
    }

    &:hover {
      color: initial;

      &:after {
        width: 105%;
      }
    }
  }

  &__select {
    width: 40px;
    @media screen and (max-width: 992px) {
      display: none;
    }

    .select2-container {
      height: 15px;
      background-image: none;

      .select2-selection--single {
        height: 15px !important;

        &[aria-expanded="true"] {
          .select2-selection__arrow {
            transform: rotate(180deg);
          }
        }
      }

      .select2-selection__rendered {
        height: 15px;
        line-height: 15px !important;
        @extend %subtitle3;
        color: $black-color !important;
        padding-left: 0 !important;
      }

      .select2-selection__arrow {
        height: 5px !important;
        width: 9px !important;
        background-image: url("../img/arrow-black.svg");
        right: 0 !important;
        transform: rotate(0);
      }
    }
  }
}