.bi-main-banner {
  height: 720px;
  @media screen and (max-width: 768px) {
    height: 700px;
    max-height: 100vh;
  }

  &__wrap {
    position: relative;
    height: 100%;

    &:after, &:before {
      @include before;
      @include p-absolute;
      width: 100%;
      height: 160px;
    }

    &:before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 2;

      @media screen and (max-width: 768px) {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
      }
    }

    &:after {
      top: auto;
      z-index: 2;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);

      @media screen and (max-width: 768px) {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
  }

  &__slider {
    height: 100%;
  }

  &__slide {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &-img {
      @include p-absolute;
      @include full-img;
      z-index: 1;
    }

    &-logo {
      width: calc(100% - 40px);
      max-width: 417px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 768px) {
        margin-bottom: 50px;
      }

      img {
        width: 100%;
      }
    }

    &-text {
      position: absolute;
      z-index: 3;
      top: 255px;
      left: calc(50% + 115px);
      width: 210px;
      height: 147px;
      text-align: center;
      @media screen and (max-width: 768px) {
        width: 201px;
        height: 135px;
        left: calc(50% - 80px);
        top: calc(50% + 50px);
      }

      &:before {
        @include before;
        @include p-absolute;
        @include full;
        @include bs-contain;
        background-image: url("../img/main-banner-text.png");

        @media screen and (max-width: 768px) {
          transform: rotate(184deg);
        }
      }

      p {
        @extend %h5;
        line-height: 22px;
        margin: 33px 0 0;
        transform: rotate(-4deg);
        @media screen and (max-width: 768px) {
          margin: 53px 0 0;
        }
      }
    }
  }


  &-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;

    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
      @include bs-contain;
      opacity: 1;
      background-image: url("../img/pagination-white.svg");
      margin-right: 28px;
      background-color: transparent;
      @media screen and (max-width: 768px) {
        height: 10px;
        width: 10px;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: url("../img/pagination-yellow.svg");
    }
  }
}

.bi-main-place {
  background-color: $white-color;
  padding: 110px 0 74px;
  @media screen and (max-width: 992px) {
    padding: 80px 0 54px;
  }
  @media screen and (max-width: 768px) {
    padding: 22px 0 54px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__select {
    display: none;
    margin: 0 auto 24px;
    height: 64px;
    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 330px;
      background-image: url("../img/select-big.svg");
    }

    .bi-form-select {
      width: 100%;
    }
  }

  &__image {
    width: 673px;
    display: flex;
    align-items: stretch;
    flex-shrink: 0;
    @media screen and (max-width: 1200px) {
      width: 55%;
    }
    @media screen and (max-width: 992px) {
      flex-direction: column;
      width: 50%;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
      width: 100%;
      max-width: 450px;
    }

    &-photo {
      width: 50%;
      flex-shrink: 0;
      position: relative;
      padding-bottom: 60%;
      overflow: hidden;
      @media screen and (max-width: 992px) {
        width: 100%;
      }

      img {
        @include p-absolute;
        @include full-img;
      }
    }

    &-logo {
      background-color: $light-beige-color;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      flex-shrink: 0;
      @media screen and (max-width: 992px) {
        width: 100%;
        height: 200px;
      }

      img {
        width: calc(100% - 40px);
        max-width: 205px;
      }
    }
  }

  &__content {
    width: 394px;
    flex-shrink: 0;
    @media screen and (max-width: 1200px) {
      width: 40%;
    }
    @media screen and (max-width: 992px) {
      width: 45%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 450px;
    }

    p {
      @extend %text1;
      margin-bottom: 30px;
    }
  }

  &__tags {
    @media screen and (max-width: 768px) {
      display: none;
    }
    ul {
      @include ul;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }

      li {
        margin-right: 55px;
        @media screen and (max-width: 1200px) {
          margin-right: 50px;
        }
        @media screen and (max-width: 992px) {
          margin-right: 30px;
        }
        &:last-child {
          margin-right: 0;
          a:after {
            display: none;
          }
        }
      }

      li a {
        @extend %subtitle1;
        position: relative;
        text-decoration: none;
        color: $black-color;
        z-index: 2;
        transition: all 0.25s;
        @media screen and (max-width: 992px) {
          font-size: 15px;
        }

        &:hover {
          text-decoration: none;
          color: $dark-green-color;
        }

        &.active {
          &:before {
            opacity: 1;
            visibility: visible;
          }
          &:after {
            display: none;
          }

          &:hover {
            color: $black-color;
          }
        }

        &:after {
          @include before;
          position: absolute;
          top: 0;
          bottom: 0;
          right: -31px;
          margin: auto;
          height: 7px;
          width: 7px;
          @include bs-contain;
          background-image: url("../img/pagination-black.svg");
          @media screen and (max-width: 992px) {
            right: -18px;
          }
        }

        &:before {
          @include before;
          width: calc(100% + 70px);
          height: 30px;
          position: absolute;
          left: -35px;
          top: -4px;
          background-size: 100% auto;
          background-image: url("../img/yellow-tag.svg");
          background-position: center;
          background-repeat: no-repeat;
          z-index: -1;
          opacity: 0;
          visibility: hidden;
          transition: all 0.25s;
          @media screen and (max-width: 992px) {
            width: calc(100% + 40px);
            left: -20px;
            height: 25px;
            background-size: auto 100%;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

.bi-find-halls {
  background-color: $light-blue-color;
  padding: 30px 0 45px;
  text-align: center;

  h3 {
    @extend %h4;
    margin-bottom: 7px;
  }

  p {
    @extend %text1;
    margin-bottom: 28px;
  }

  .bi-form-search {
    width: 100%;
    max-width: 454px;
    margin: 0 auto;
    position: relative;
    height: 64px;

    input {
      text-align: left;
      @media screen and (max-width: 576px) {
        background-size: auto 100%;
      }
    }

    .icon-search {
      background: transparent;
      border: none;
      cursor: pointer;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 19px;
      margin: auto;
      @include bs-contain;
      background-image: url("../img/icon-search.svg");
      width: 17px;
      height: 24px;
      padding: 0;

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }
}

.bi-actual {
  padding: 85px 0;
  background-color: $light-beige-color;
  @media screen and (max-width: 768px) {
    padding: 60px 0;
  }

  $f:&;

  &.bi-actual-white {
    background-color: $white-color;

    #{$f}__wrap {
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }

    #{$f}-pagination {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    .bi-post-item__content {
      background-color: $light-beige-color;
      @media screen and (max-width: 768px) {
        background-color: $white-color;
      }
    }
  }

  h2 {
    @extend %h1;
    text-align: center;
    margin-bottom: 0;
  }

  &__wrap {
    margin-top: -65px;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 40px;

    @media screen and (max-width: 1200px) {
      margin-top: -50px;
    }
    @media screen and (max-width: 992px) {
      margin-top: -40px;
    }
    @media screen and (max-width: 768px) {
      margin-top: -33px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 576px) {
      margin-top: -29px;
    }
  }

  .swiper-wrapper {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .swiper-slide {
    width: 395px;

    @media screen and (max-width: 576px) {
      width: 250px;

      .bi-post-item__content {
        padding: 15px 15px 21px;

        h3 {
          margin-bottom: 7px;
        }

        p {
          -webkit-line-clamp: 3;
        }
      }
    }
  }

  &-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    z-index: 2;

    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
      @include bs-contain;
      opacity: 1;
      background-image: url("../img/pagination-brown.svg");
      margin-right: 28px;
      background-color: transparent;
      @media screen and (max-width: 768px) {
        height: 10px;
        width: 10px;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: url("../img/pagination-black.svg");
    }
  }

  .bi-btn {
    display: table;
    margin: 0 auto;
  }
}

.bi-post-item {
  transition: all 0.25s;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  $f: &;

  &:hover {
    text-decoration: none;
    color: inherit;
    transform: rotate(-5deg);

    #{$f}__content {
      background-color: $yellow-color;
    }

    #{$f}__image:after {
      opacity: 1;
      visibility: visible;
    }
  }

  &__image {
    position: relative;
    padding-bottom: 65.5%;
    overflow: hidden;

    img {
      @include p-absolute;
      @include full-img;
      z-index: 1;
    }

    &:after {
      @include before;
      opacity: 0;
      visibility: hidden;
      transition: all 0.25s;
      width: 60px;
      height: 60px;
      @include p-absolute;
      @include center;
      @include bs-contain;
      background-image: url("../img/lire.svg");
      z-index: 3;
      transform: rotate(-3deg);
    }
  }

  &__video {
    &-play {
      width: 40px;
      height: 40px;
      @include p-absolute;
      @include center;
      @include bs-contain;
      background-image: url("../img/video-play.svg");
      z-index: 2;
    }
  }

  &__type {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 6px 17px;
    @extend %subtitle4;
    z-index: 2;
    background-size: 100% 100%;
    background-position: center;
    background-image: url("../img/white-type.svg");
  }

  &__content {
    transition: all 0.25s;
    background-color: $white-color;
    padding: 20px 13px 30px 24px;
    @media screen and (max-width: 768px) {
      padding: 20px 10px 20px 10px;
    }
    @media screen and (max-width: 576px) {
      padding: 20px 13px 26px 24px;
    }

    time {
      @extend %text2;
      font-weight: bold;
      display: block;
    }

    h3 {
      @extend %h5;
      margin-bottom: 15px;
    }

    p {
      @extend %text2;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 0;
    }
  }
}

.bi-join {
  padding: 100px 0 85px;
  background-color: $dark-green-color;
  text-align: center;

  @media screen and (max-width: 768px) {
    padding: 70px 0 50px;
  }

  &.bi-join-light {
    background-color: $light-beige-color;

    h2, p {
      color: $black-color;
    }
  }

  h2 {
    @extend %h3;
    color: $white-color;
    margin-bottom: 45px;
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  p {
    @extend %text1;
    color: $white-color;
    margin-bottom: 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__col {
    width: 100%;
    max-width: 320px;
    @media screen and (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__icon {
    height: 100px;
    margin: 0 auto 30px;

    img {
      height: 100%;
    }
  }

  &__text {
    max-width: 610px;
    margin: 40px auto 0;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
  }
}

.bi-reviews {
  background-color: $white-color;
  padding: 70px 0;
  position: relative;
  @media screen and (max-width: 768px) {
    display: none;
  }

  &__icon-message {
    width: 105px;
    position: absolute;
    top: 57px;
    left: calc(50% + 350px);

    @media screen and (max-width: 992px) {
      left: calc(50% + 250px);
    }

    img {
      width: 100%;
    }
  }

  &__wrap {
    width: 610px;
    margin: 0 auto;
    position: relative;
  }

  &__item {
    text-align: center;
    width: 100%;
    max-width: 436px;
    margin: 0 auto;

    p {
      @extend %text1;
      font-style: italic;
      margin-bottom: 0;
    }

    h6 {
      @extend %text1;
      margin-bottom: 0;
      margin-top: 15px;
      font-weight: bold;

      span {
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }

  &__star {
    margin: 0 auto 38px;
    width: 180px;

    img {
      width: 100%;
    }
  }

  &__icon {
    margin: 0 auto 27px;
    width: 38px;

    img {
      width: 100%;
    }
  }

  &-prev, &-next {
    position: absolute;
    top: 50px;
    bottom: 0;
    height: 20px;
    width: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0;
    margin: auto;

    &:after {
      display: none;
    }

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }
  }

  &-prev {
    background-image: url("../img/r-arrow-prev.svg");
  }

  &-next {
    background-image: url("../img/r-arrow-next.svg");
  }

  &-pagination {
    display: none;
  }
}

.bi-heart {
  padding: 64px 0 52px;
  background-color: $light-beige-color;
  @media screen and (max-width: 768px) {
    padding: 54px 0 58px;
  }

  .bi-container {
    @media screen and (max-width: 768px) {
      max-width: 100%;
      padding: 0;
    }
  }

  h2 {
    @extend %h2;
    text-align: center;
    margin-bottom: 49px;
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__wrap {
    width: 100%;
    max-width: 946px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 60px
  }

  &__slide {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &-image {
      width: 55%;
      flex-shrink: 0;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
        margin-bottom: 24px;
      }

      img {
        width: 100%;
      }

      p {
        @extend %text2;
        margin: 8px 0 0 115px;

        span, b {
          font-weight: 800;
          text-transform: uppercase;
        }

        @media screen and (max-width: 768px) {
          margin: 10px 0 0;
          text-align: center;
        }
      }
    }

    &-text {
      width: 45%;
      flex-shrink: 0;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
      }

      p {
        font-size: 19px;
        line-height: 27px;
        font-weight: 500;
        font-style: italic;
        margin: 0 0 0 40px;
        @media screen and (max-width: 768px) {
          margin: 0 15px 0;
        }
      }
    }

    &-quote {
      width: 82px;
      margin-bottom: 35px;
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
        margin-left: -10px;
      }

      img {
        width: 100%;
      }
    }
  }

  &-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .swiper-pagination-bullet {
      height: 13px;
      width: 13px;
      @include bs-contain;
      opacity: 1;
      background-image: url("../img/pagination-brown.svg");
      margin-right: 28px;
      background-color: transparent;
      @media screen and (max-width: 768px) {
        height: 10px;
        width: 10px;
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }

    .swiper-pagination-bullet-active {
      background-image: url("../img/pagination-black.svg");
    }
  }
}

.bi-services {
  background-color: $light-beige-color;
  padding: 65px 0;
  $f: &;

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  h3 {
    @extend %h3;
    text-align: center;
    margin-bottom: 50px;

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 60px;

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
  }

  &__col {
    width: 25%;
    flex-shrink: 0;

    @media screen and (max-width: 992px) {
      width: calc(100% / 3);
    }

    @media screen and (max-width: 768px) {
      width: 50%;
    }
  }

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    text-decoration: none;
    color: inherit;

    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }

    &:hover {
      text-decoration: none;
      color: inherit;

      #{$f}__icon {
        background-image: url("../img/white-circle.svg");
      }
    }

    p {
      @extend %subtitle2;
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 117px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;

    @media screen and (max-width: 768px) {
      margin-bottom: 5px;
    }

    img {
      max-height: 60px;
      max-width: 60px;
    }
  }

  .bi-btn {
    display: table;
    margin: 0 auto;
  }
}

.bi-trust {
  background-color: $blue-color;
  padding: 65px 0 70px;

  h4 {
    @extend %h4;
    font-size: 23px;
    text-align: center;
    color: $white-color;
    margin-bottom: 60px;
  }

  .swiper-slide {
    width: auto;
  }

  &__logo {
    height: 72px;
    display: flex;
    align-items: center;

    img {
      max-height: 100%;
    }
  }
}

.bi-soc {
  padding: 65px 0 90px;
  background-color: $light-beige-color;
  @media screen and (max-width: 768px) {
    padding: 56px 0;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__col {
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:first-child {
      @media screen and (max-width: 768px) {
        margin-bottom: 50px;
      }
    }

    h5 {
      @extend %h5;
      text-align: center;
      margin-bottom: 34px;
      @media screen and (max-width: 576px) {
        font-size: 11px;
        margin-bottom: 0;
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
        color: inherit;
        @media screen and (max-width: 768px) {
          display: flex;
          align-items: center;
          justify-content: center;

          &:after {
            @include before;
            width: 8px;
            height: 14px;
            @include bs-contain;
            background-image: url("../img/r-arrow-next.svg");
            margin-left: 20px;
          }
        }
      }
    }
  }

  &__icon {
    width: 49px;
    height: 49px;
    position: relative;
    margin: 0 auto 12px;
    @media screen and (max-width: 768px) {
      margin: 0 auto 20px;
    }

    img {
      @include p-absolute;
      @include center;
      max-width: 100%;
      max-height: 100%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__youtube {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      display: none;
    }

    &-post {
      width: 245px;
      height: 161px;
      margin-right: 8px;
      overflow: hidden;
      position: relative;
      @media screen and (max-width: 1200px) {
        width: 200px;
        height: 131px;
      }
      @media screen and (max-width: 992px) {
        width: 158px;
        height: 105px;
      }

      img {
        @include p-absolute;
        @include full-img;
      }

      &:last-child {
        margin-right: 0;
      }

      .bi-post-item__video-play {
        width: 53px;
        height: 53px;
        @media screen and (max-width: 992px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  &__insta {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      display: none;
    }

    &-post {
      width: 161px;
      height: 161px;
      margin-right: 8px;
      overflow: hidden;
      position: relative;
      @media screen and (max-width: 1200px) {
        width: 131px;
        height: 131px;
      }
      @media screen and (max-width: 992px) {
        width: 131px;
        height: 131px;
      }
      @media screen and (max-width: 992px) {
        width: 105px;
        height: 105px;
      }

      img {
        @include p-absolute;
        @include full-img;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.bi-letter {
  background-color: $white-color;
  padding: 47px 0 57px;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__form {
    position: relative;
    width: max-content;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      margin: 0 auto 0 0;
    }

    .icon-arrow {
      text-decoration: none;
      display: block;
      width: 8px;
      height: 14px;
      top: 0;
      bottom: 0;
      right: 14px;
      margin: auto;
      position: absolute;
      @include bs-contain;
      background-image: url("../img/r-arrow-next.svg");
      border: none;
      background-color: transparent;

      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
    }
  }

  &__col {
    width: 40%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 992px) {
      width: 50%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 20px;
    }

    h5 {
      @extend %h5;
      font-weight: bold;
      text-align: center;
      margin-bottom: 24px;
      @media screen and (max-width: 768px) {
        text-align: left;
      }
    }

    .bi-form-group {
      width: 258px;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }
  }
}

.bi-form-download {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    justify-content: flex-start;
  }


  .bi-form-select {
    margin-right: 26px;
    width: 258px;
  }
}

.select2-hidden-accessible {
  display: none;
}

.select2-container {
  background: transparent;
  box-sizing: border-box;
  border-radius: 0 !important;
  height: 45px;
  border: none;
  @include bs-contain;
  background-image: url("../img/input-brown.svg");

  &:focus, &:active {
    outline: none;
    box-shadow: none;
    border-radius: 0;
  }

  &.select2-container--open, &.select2-container--focus {
    outline: none;
    box-shadow: none;
    border-radius: 0;
  }

  &.select2-container--open {
    .select2-selection__arrow {
      transform: rotate(180deg);
    }
  }

  .select2-selection--single {
    background: transparent;
    border: none !important;
    box-sizing: border-box;
    height: 45px !important;
    border-radius: 0 !important;

    &[aria-expanded="true"] {
      .select2-selection__arrow {
        transform: rotate(-90deg);
      }
    }

    &:focus, &:active {
      outline: none;
      box-shadow: none;
      border-radius: 0;
    }
  }

  .select2-selection__rendered {
    height: 45px;
    line-height: 45px !important;
    @extend %text2;
    color: $black-color !important;
    padding-left: 20px !important;
  }

  .select2-selection__arrow {
    height: 14px !important;
    width: 8px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/r-arrow-next.svg");
    top: 0;
    right: 18px !important;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);

    b {
      display: none;
    }
  }
}