@mixin ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin full {
  width: 100%;
  height: 100%;
}

@mixin p-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin before {
  content: '';
  display: block;
}

@mixin full-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@mixin line {
  display: flex;
  align-items: center;
}

@mixin center {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

@mixin bs-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin bg-full {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

