.bi-news {
  padding: 75px 0 60px;
  @media screen and (max-width: 768px) {
    padding: 68px 0 40px;
  }

  h2 {
    @extend %h3;
    text-align: center;
    margin-bottom: 50px;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__col {
    width: calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 33px;
    @media screen and (max-width: 992px) {
      width: 50%;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  .bi-post-item {
    &:hover {
      .bi-post-item__content {
        background-color: $light-beige-color;
      }
    }
  }

  &__tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    &-item {
      display: block;
      text-decoration: none;
      margin-bottom: 15px;
      margin-right: 30px;
      padding: 10px 20px;
      position: relative;
      color: $black-color;
      @extend %subtitle2;
      cursor: pointer;
      border-radius: 20px;
      @media screen and (max-width: 992px) {
        margin: 0 10px 10px 0;
      }
      @media screen and (max-width: 768px) {
        font-size: 11px;
        padding: 9px 18px;
      }

      &::before {
        content: '';
        background-image: url('../img/b-tab.svg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 0 20px 15px 0;
      }

      &:hover {
        color: $black-color;
      }

      &.active {
        &:before {
          background-image: url('../img/blue-tab.svg');
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    @extend %text3;
    font-weight: 800;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      justify-content: center;
    }

    &-icon {
      width: 19px;
      height: 19px;
      margin-right: 20px;
      flex-shrink: 0;
      @include bs-contain;
      background-image: url("../img/filter.svg");
    }
  }
}

.bi-pagination {
  margin: 10px 0 0;

  &__list {
    @include ul;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      width: 35px;
      height: 35px;
      @extend %h5;
      text-align: center;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    li a {
      @include full;
      display: block;
      @extend %h5;
      text-decoration: none;
      color: $black-color;
      padding: 4px 0;

      &:hover {
        color: $black-color;
      }

      &.active {
        @include bs-contain;
        background-image: url("../img/p-active.svg");
      }
    }
  }

  &__prev {
    @include bs-contain;
    background-image: url("../img/r-arrow-prev.svg");
    background-size: 8px;
  }

  &__next {
    @include bs-contain;
    background-image: url("../img/r-arrow-next.svg");
    background-size: 8px;
  }
}

.bi-news-banner {
  position: relative;
  background-color: $light-beige-color;
  padding: 150px 0 92px;
  @media screen and (max-width: 768px) {
    padding: 130px 0 70px;
  }

  &__icon1 {
    position: absolute;
    width: 136px;
    top: 260px;
    right: calc(50% + 500px);
    @media screen and (max-width: 1200px) {
      right: calc(50% + 350px);
    }
    @media screen and (max-width: 992px) {
      width: 80px;
      right: auto;
      left: 15px;
    }
    @media screen and (max-width: 768px) {
      width: 51px;
      top: 110px;
    }
    img {
      width: 100%;
    }
  }
  &__icon2 {
    position: absolute;
    width: 136px;
    bottom: 0;
    left: calc(50% + 500px);
    @media screen and (max-width: 1200px) {
      left: calc(50% + 350px);
    }
    @media screen and (max-width: 992px) {
      width: 90px;
      left: auto;
      right: 15px;
    }
    @media screen and (max-width: 768px) {
      width: 60px;
      bottom: 20px;
    }
    img {
      width: 100%;
    }
  }

  h3 {
    @extend %h3;
    text-align: center;
    top: 193px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    @media screen and (max-width: 768px) {
      top: 140px;
    }
    @media screen and (max-width: 576px) {
      font-size: 15px;
    }
  }

  img {
    width: 100%;
    max-width: 606px;
    display: block;
    margin: 0 auto;
    @media screen and (max-width: 576px) {
      max-width: 275px;
    }
  }
}