.bi-traders-banner {
  background-color: $pink-color;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 120px 0 30px;
  @media screen and (max-width: 768px) {
    padding: 120px 0 85px;
  }
  @media screen and (max-width: 576px) {
    padding: 140px 0 26px;
  }

  &__wrap {
    @include p-absolute;
    @include center;
    @include full;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $white-color;
    z-index: 2;
    @media screen and (max-width: 576px) {
      padding-top: 70px;
    }

    h3 {
      @extend %h3;
      margin-bottom: 0;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 15px;
        margin-bottom: -10px;
      }
    }

    h1 {
      font-size: 140px;
      line-height: 90px;
      margin-bottom: 0;
      font-weight: bold;
      transform: rotate(-4deg);
      letter-spacing: -5px;
      @media screen and (max-width: 1200px) {
        font-size: 120px;
      }
      @media screen and (max-width: 992px) {
        font-size: 100px;
        letter-spacing: -3px;
      }
      @media screen and (max-width: 768px) {
        font-size: 80px;
        letter-spacing: -2px;
      }
      @media screen and (max-width: 576px) {
        font-size: 54px;
        line-height: 72px;
      }
    }
  }

  &__image {
    transform: rotate(-5deg);
    width: 370px;
    height: max-content;
    z-index: 1;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      width: 250px;
    }
    @media screen and (max-width: 576px) {
      width: 143px;
    }

    img {
      width: 100%;
    }
  }

  &__icon {
    position: absolute;

    img {
      width: 100%;
    }

    &.icon1 {
      top: 180px;
      right: calc(50% + 370px);
      width: 148px;
      @media screen and (max-width: 1200px) {
        right: calc(50% + 340px);
        width: 138px;
      }
      @media screen and (max-width: 992px) {
        right: calc(50% + 250px);
        width: 128px;
      }
      @media screen and (max-width: 768px) {
        left: -5px;
        right: auto;
        top: 130px;
      }

      @media screen and (max-width: 576px) {
        width: 81px;
        top: 110px;
      }
    }

    &.icon2 {
      width: 103px;
      top: 170px;
      left: calc(50% + 420px);
      @media screen and (max-width: 1200px) {
        width: 93px;
        left: calc(50% + 360px);
      }
      @media screen and (max-width: 992px) {
        width: 88px;
        left: calc(50% + 300px);
      }
      @media screen and (max-width: 768px) {
        left: auto;
        right: 10px;
        top: 140px;
        width: 73px;
      }

      @media screen and (max-width: 576px) {
        width: 48px;
        top: 114px;
      }
    }

    &.icon3 {
      width: 120px;
      top: 370px;
      right: calc(50% + 500px);
      @media screen and (max-width: 1200px) {
        right: calc(50% + 400px);
        width: 110px;
      }
      @media screen and (max-width: 992px) {
        right: calc(50% + 300px);
        width: 100px;
      }
      @media screen and (max-width: 768px) {
        left: 20px;
        right: auto;
        top: auto;
        bottom: 0;
        width: 80px;
      }

      @media screen and (max-width: 576px) {
        width: 59px;
      }
    }

    &.icon4 {
      width: 154px;
      bottom: 0;
      left: calc(50% + 500px);
      @media screen and (max-width: 1300px) {
        width: 140px;
        left: calc(50% + 430px);
      }
      @media screen and (max-width: 1200px) {
        width: 130px;
        left: calc(50% + 350px);
      }
      @media screen and (max-width: 992px) {
        width: 105px;
        left: calc(50% + 280px);
      }
      @media screen and (max-width: 768px) {
        bottom: 0;
        left: auto;
        right: 0;
        width: 95px;
      }
      @media screen and (max-width: 576px) {
        width: 88px;
      }
    }
  }
}

.bi-help {
  background-color: $pink-color;
  padding-bottom: 145px;
  position: relative;
  $f: &;

  @media screen and (max-width: 992px) {
    padding-bottom: 100px;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 80px;
  }

  h2 {
    @extend %h1;
    text-align: center;
    margin: 0;

    br {
      display: none;

      @media screen and (max-width: 576px) {
        display: block;
      }
    }
  }

  &__wrap {
    background-color: $white-color;
    max-width: 812px;
    margin: -50px auto 0;
    display: flex;
    align-items: flex-start;
    padding: 55px 15px 80px;
    z-index: 2;
    position: relative;

    @media screen and (max-width: 1200px) {
      margin: -30px auto 0;
    }

    @media screen and (max-width: 992px) {
      margin: -20px auto 0;
      padding: 40px 10px 60px;
    }

    @media screen and (max-width: 768px) {
      margin: -15px auto 0;
    }

    @media screen and (max-width: 576px) {
      margin: -10px auto 0;
      flex-direction: column;
      width: 335px;
      align-items: center;
      padding: 50px 10px 76px;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;

    img {
      width: 100%;
    }

    &.icon1 {
      width: 83px;
      right: calc(50% + 400px);
      bottom: 70px;

      @media screen and (max-width: 992px) {
        width: 70px;
        right: calc(50% + 335px);
        bottom: 50px;
      }
      @media screen and (max-width: 768px) {
        right: calc(50% + 250px);
        bottom: 35px;
      }
      @media screen and (max-width: 576px) {
        width: 58px;
        right: calc(50% + 150px);
        bottom: 35px;
        transform: rotate(-20deg);
      }
    }

    &.icon2 {
      width: 200px;
      left: calc(50% + 350px);
      bottom: 60px;

      @media screen and (max-width: 992px) {
        width: 150px;
        left: calc(50% + 300px);
        bottom: 30px;
      }
      @media screen and (max-width: 768px) {
        left: calc(50% + 220px);
        bottom: 20px;
      }
      @media screen and (max-width: 576px) {
        width: 114px;
        left: calc(50% + 125px);
        bottom: 20px;
      }
    }
  }

  &__col {
    width: calc(100% / 3);
    flex-shrink: 0;
    text-align: center;

    @media screen and (max-width: 576px) {
      width: 100%;
      margin-bottom: 55px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      @extend %subtitle2;
      margin-bottom: 0;
    }

    &:last-child {
      #{$f}__image:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__image {
    width: 116px;
    height: 111px;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after {
      @include before;
      @include p-absolute;
      @include full;
      @include bs-contain;
      background-image: url("../img/help-bg.svg");
      transition: all 0.25s;
      opacity: 0;
      visibility: hidden;
    }

    /*&:hover {
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }*/

    img {
      display: block;
      max-width: 100%;
      max-height: 60px;
      z-index: 2;
    }
  }
}

.bi-traders-content {
  padding: 120px 0;
  background-color: $white-color;
  @media screen and (max-width: 992px) {
    padding: 100px 0;
  }
  @media screen and (max-width: 768px) {
    padding: 52px 0 100px;
  }

  .bi-btn {
    @media screen and (max-width: 992px) {
      width: 308px;
    }
  }

  &__row1 {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 65px;
    }

    &-text {
      width: 50%;
      flex-shrink: 0;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
        margin-bottom: 53px;
      }

      h3 {
        @extend %h3;
        margin-bottom: 19px;
      }

      p {
        @extend %text1;
        margin-bottom: 0;
        max-width: 395px;
      }
    }

    &-image {
      width: 50%;
      flex-shrink: 0;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
      }

      img {
        max-width: 574px;
        width: 100%;
      }
    }
  }

  &__row2 {
    display: flex;
    align-items: center;
    position: relative;
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &-text {
      width: 384px;
      flex-shrink: 0;
      @media screen and (max-width: 992px) {
        width: 330px;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
        margin-bottom: 53px;
      }

      h3 {
        @extend %h3;
        margin-bottom: 19px;
      }

      p {
        @extend %text1;
        margin-bottom: 0;
      }
    }

    &-image {
      width: 50%;
      flex-shrink: 0;
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
      }

      img {
        max-width: 620px;
        width: 120%;
        margin-left: -10%;
        @media screen and (max-width: 768px) {
          width: 130%;
          margin-right: -20%;
        }
      }
    }
  }

  &__icon {
    position: absolute;
    width: 121px;
    top: 0;
    right: -50px;

    img {
      width: 100%;
    }
  }

  &__form {
    display: block;
    margin-top: 45px;
    @media screen and (max-width: 768px) {
      margin-top: 23px;
    }

    .bi-form-select {
      width: 258px;
      margin-bottom: 28px;
    }
  }
}