$font-Karla: 'Karla', sans-serif;

$white-color: #ffffff;
$black-color: #000000;
$light-beige-color: #F9F7EC;
$beige-color: #D7CBB6;
$dark-green-color: #006450;
$green-color: #B7DBC2;
$pink-color: #F5BED6;
$red-color: #bc2f2c;
$yellow-color: #faf08f;
$blue-color: #15448a;
$light-blue-color: #C0D2F5;

.bg-yellow {
  background-color: $yellow-color !important;
}

.bg-green {
  background-color: $dark-green-color !important;
}

.bg-white {
  background-color: $white-color;
}

.bg-beige {
  background-color: $light-beige-color;
}

%h1 {
  font-size: 115px;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0;
  @media screen and (max-width: 1200px) {
    font-size: 90px;
    line-height: 1.3;
    letter-spacing: -5px;
  }
  @media screen and (max-width: 992px) {
    font-size: 75px;
    line-height: 1.2;
    letter-spacing: -3px;
  }
  @media screen and (max-width: 768px) {
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -2px;
  }
  @media screen and (max-width: 576px) {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

%h2 {
  font-size: 55px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -2px;
  @media screen and (max-width: 768px) {
    font-size: 45px;
  }
}

%h3 {
  font-size: 38px;
  font-weight: 800;
  line-height: 1.2;
  @media screen and (max-width: 992px) {
    font-size: 34px;
  }
  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
}

%h4 {
  font-size: 26px;
  line-height: 1.25;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

%h5 {
  font-size: 19px;
  font-weight: 600;
  line-height: 27px;
}

%subtitle1 {
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

%subtitle2 {
  font-size: 13px;
  font-weight: 800;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

%subtitle3 {
  font-size: 11px;
  font-weight: 800;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

%subtitle4 {
  font-size: 9px;
  font-weight: 800;
  line-height: 12px;
  text-transform: uppercase;
}

%text1 {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

%text2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

%text3 {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}


html {
  min-height: 100%;
}

body, html {
  font-family: $font-Karla;
  font-weight: 500;
  @media screen and (max-width: 1200px) {
    overflow-x: hidden;
  }
}

b {
  font-weight: 800;
}

.bi-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (max-width: 1300px) {
    padding: 0 15px;
    max-width: 1170px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 970px;
  }
  @media screen and (max-width: 992px) {
    max-width: 730px;
  }
  @media screen and (max-width: 768px) {
    max-width: 550px;
  }
  @media screen and (max-width: 576px) {
    max-width: none;
  }
}

.bi-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: none;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: max-content;

  &:hover {
    text-decoration: none;
  }

  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

.bi-btn-black {
  color: $white-color;
  padding: 21px 50px;
  @extend %subtitle3;
  background-image: url("../img/black-btn.svg");

  &:hover {
    color: $white-color;
  }

  &.bi-btn-long {
    background-image: url("../img/long-black-btn.svg");
  }
}

.bi-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  @extend %subtitle3;
  color: $white-color;
  width: 348px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/btn-icon.svg");
  transition: all 0.25s;
  text-decoration: none;

  &:hover {
    color: $white-color;
  }

  span {
    display: block;
    margin-right: 9px;
  }

  .icon-download {
    flex-shrink: 0;
    width: 44px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/icon-download.svg");
  }

  .icon-min-mail {
    flex-shrink: 0;
    width: 24px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/min-mail.svg");
  }
}

.bi-btn-white {
  color: $black-color;
  padding: 21px 50px;
  @extend %subtitle2;
  background-image: url("../img/white-btn.svg");

  &:hover {
    color: $black-color;
  }

  &.bi-btn-long {
    width: 316px;
    height: 60px;
    padding: 20px;
    background-image: url("../img/input.svg");
  }
}

.bi-btn-download {
  display: block;
  width: 44px;
  height: 40px;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../img/icon-download.svg");
  border: none;
  background-color: transparent;

  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}

.bi-form-group {
  height: 64px;
  position: relative;

  &.bi-form-brown {
    height: 45px;
    input {
      height: 45px;
      @extend %text2;
      background-image: url("../img/input-brown.svg");
    }
  }
  input {
    border: none;
    width: 100%;
    height: 100%;
    @extend %h5;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../img/input-white.svg");
    text-align: left;
    background-color: transparent;
    padding-left: 28px;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      opacity: 0.5;
      color: $black-color;
    }
  }

  &.bi-form-group-dark {
    input {
      color: $white-color;
      background-image: url("../img/input-dark.svg");

      &::placeholder {
        color: $white-color;
      }
    }
  }
}